<div id="preloader">
  <div class="trapezoids">
    <div class="trapezoid-blue">
      <h2>BIENVENUE SUR</h1>
    </div>
    <div class="trapezoid-orange">
      <h1>WILL LE MONO</h1>
    </div>
  </div>
  <div id="loader">
    <%= image_tag 'logo.png', class: "logo-preloader"%>
  </div>
</div>
