<section id="section-about">
  <div class="container-about">
    <div class="row">
      <div class="left-side col-lg-8">
        <div class="trapezoids">
          <div class="trapezoid-blue">
            <h2>À PROPOS</h2>
          </div>
          <div class="trapezoid-orange">
            <h3>DE NOUS</h3>
          </div>
        </div>
        <div class="image-about">
          <%= image_tag 'about.png', class: "about-img", alt: "Will Le Mono dans un canapé"%>
        </div>
      </div>
      <div class="right-side col-lg-4">
        <h4><span class="orange">TOUT SEUL ON VA PLUS VITE,</span> ENSEMBLE ON VA PLUS LOIN...</h4><br><br>
        <p>En effet, "Will Le Mono" c'est une équipe soudée constituée de passionés.</p>
        <p>Grâce à ce concept innovant d'Auto-École COACHING, nous, Aurélie, Martine, Romain et William avons pour priorité la réussite de nos élèves</p>
        <p>Alors, souhaites-tu faire partie de la TEAM en apprenant à conduire de manière ludique et performante ?</p>

        <!-- <ul> -->
          <!-- <li class="list"># Un nouveau CONCEPT innovant d'Auto-École COACHING</li>
          <li class="orange">+</li>
          <li class="list"># Une équipe qui se forme continuellement à la pédagogie</li>
          <li class="orange">+</li>
          <li class="list"># Des élèves qui apprennent à conduire sereinement</li>
          <li class="orange">+</li>
          <li class="list"># Une équipe VRAIMENT passionnée par son métier</li>
          <li class="orange">+</li>
          <li class="list"># Un apprentissage LUDIQUE et PERFORMANT</li>
          <li class="orange">+</li>
          <li class="list"># Des élèves ULTRA MOTIVÉS</li>
          <li class="orange">+</li>
          <li class="list"># Un niveau d'exigence élevé</li> -->

          <!-- <li class="list"># Une équipe VRAIMENT passionnée par son métier</li> -->
          <!-- <li class="orange">+</li> -->
          <!-- <li class="list"># Une équipe qui se forme continuellement à la pédagogie</li> -->
          <!-- <li class="orange">+</li> -->
          <!-- <li class="list"># Un nouveau CONCEPT innovant d'Auto-École COACHING</li> -->
          <!-- <li class="orange">+</li> -->
          <!-- <li class="list"># Un apprentissage LUDIQUE et PERFORMANT</li> -->
          <!-- <li class="orange">+</li> -->
          <!-- <li class="list"># Des élèves ULTRA MOTIVÉS</li> -->
          <!-- <li class="orange">+</li> -->
          <!-- <li class="list"># Un niveau d'exigence élevé</li> -->
          <!-- <li class="orange">+</li> -->
          <!-- <li class="list"># Des élèves qui apprennent à conduire sereinement</li>
          <li class="blue"><i class="fi-xnsdxl-chevron-solid"></i></li>
          <li class="neon blink"># Des élèves qui obtiennent leur PERMIS 💪🏼</li> -->
        <!-- </ul> -->

        <div class="trapezoid-orange">
          <%= link_to "EN SAVOIR +", pages_about_path, class: "more-about" %>
        </div>
      </div>
    </div>

  </div>
</section>
