<section id="section-about">
  <div class="container-about">
    <div class="row">
      <div class="left-side col-lg-8">
        <div class="trapezoids">
          <div class="trapezoid-blue">
            <h2>À PROPOS</h2>
          </div>
          <div class="trapezoid-orange">
            <h3>DE NOUS</h3>
          </div>
        </div>
        <div class="image-about">
          <%= image_tag 'about.png', class: "about-img", alt: "Will Le Mono dans un canapé"%>
        </div>
      </div>
      <div class="right-side col-lg-4">
        <h4><span class="blue">UNE HISTOIRE</span><br>QUI COMMENCE<br>EN 2014...</h4><br><br>
        <p>Formateur, coach, enseignant, animateur, expert et tout cela dans le domaine de la sécurité routière spécifiquement en Auto / Moto.</p>
        <p>En effet depuis 2014 je n'ai pas arrêté de me former à la psycho-pédagogie, par passion pour les relations intrapersonnelles et interpersonnelles.</p>
        <p>Aujourd'hui je suis prêt à partager l'intégralité de mes expériences / connaissances / techniques dans le but de te permettre d'atteindre ton objectif PERMIS et pas que...</p>
        <p>On ne peut rien enseigner à autrui. On ne peut que l'aider à le découvrir lui-même !</p>
        <div class="trapezoid-orange">
          <%= link_to "EN SAVOIR +", pages_about_path, class: "more-about" %>
        </div>
      </div>
    </div>
  </div>
</section>
