<section id="section-yt">
  <div class="container-yt">
    <div class="row yt">
      <div class="col-lg-4 title-yt">
        <h2>CONTINUES L'AVENTURE SUR YOUTUBE...</h2>
        <div class="trapezoid-red">
          <%= link_to "S'ABONNER", "https://www.youtube.com/channel/UC2c_l9vLefW82NbaUeqy6dA", class: "subscribe", target: "blank" %><%= image_tag "fleche_gauche.png", class: "arrow", alt: "Fleche" %>
        </div>
      </div>
      <div class="col-lg-8 img-yt">
        <a href="https://www.youtube.com/channel/UC2c_l9vLefW82NbaUeqy6dA" target="blank">
          <%= image_tag "laptop-reduit.png", class: "img-logo-yt", alt: "Logo YouTube" %>
        </a>
      </div>
    </div>
  </div>
</section>
