<section id="section-yt">
  <div class="container-yt">
    <div class="row yt">
      <div class="col-lg-6 title-yt">
        <h2>RETROUVES NOUS <br><span class="thin">DE L'AUTRE CÔTÉ...</span></h2>
      </div>
      <div class="col-lg-6 img-yt">
        <a href="https://www.youtube.com/channel/UC2c_l9vLefW82NbaUeqy6dA" target="blank">
          <%= image_tag "laptop-yt.png", class: "img-logo-yt", alt: "Logo YouTube" %>
        </a>
      </div>
    </div>
  </div>
</section>
