<section id="section-reviews-press">
  <div class="container-reviews-press">
    <div class="row">

      <div class="col-lg-4">
        <div class="citation">
          <h2>L’AUTO-ÉCOLE <span class="blue">LA MIEUX NOTÉE</span> DU PAYS DE LORIENT</h2>
          <p>Plus de 100 avis google notés 5.0 <span class="orange">★</span> et des centaines d'élèves formés et satisfaits. <a href="https://www.google.com/search?q=w+kerautret&oq=w+kerautret&aqs=chrome.0.69i59j0l3j69i64j69i60l3.1824j0j7&sourceid=chrome&ie=UTF-8" target="_blank"><%= image_tag 'info.png', class: "info-img", alt: "bouton information"%></a></p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="reviews-google">
          <%= image_tag 'avis-google.png', class: "review-img", alt: "5 étoiles avis Google"%>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="press-citation">
          <p>“ Le Lorientais Will Le MONO, William KERAUTRET de son vrai nom propose des <span class="bold">vidéos en ligne</span> pour assurer le <span class="bold">suivi des apprentissages.</span> ”</p>
          <%= image_tag 'telegramme.png', class: "press-img", alt: "Logo télégramme"%>
        </div>
      </div>

    </div>
  </div>
</section>
