#about {
  background-image: image_url('image-fond.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: none;
  padding-top: 210px;

  .container-about {
    .container-section-1 {
      //background-image: image_url('image-fond.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: none;

      #section-1 {
        padding: 0 0 50px 0;
        max-width: 85vw;
        margin: 0 auto;

        .left-side1 {
          .trapezoids-1 {
            padding-bottom: 30px;

            @media (min-width: 769px) {
              .trapezoid-blue {
                width: 0;
                height: 70px;
                border-top: 18px solid transparent;
                border-right: 234px solid #54BCB6;
                border-left: 0px solid transparent;
                border-bottom: 0px solid transparent;

                h1 {
                  position: relative;
                  top: -8px;
                  left: 21px;
                  white-space: nowrap;
                  font-size: 40px;
                  font-weight: bold;
                }
              }
            }

            @media (max-width: 768px) {
              .trapezoid-blue {
                width: 0;
                height: 60px;
                border-top: 18px solid transparent;
                border-right: 215px solid #54BCB6;
                border-left: 0px solid transparent;
                border-bottom: 0px solid transparent;

                h1 {
                  position: relative;
                  top: -8px;
                  left: 21px;
                  white-space: nowrap;
                  font-size: 36px;
                  font-weight: bold;
                }
              }
            }

            @media (max-width: 540px) {
              .trapezoid-blue {
                width: 0;
                height: 60px;
                border-top: 18px solid transparent;
                border-right: 215px solid #54BCB6;
                border-left: 0px solid transparent;
                border-bottom: 0px solid transparent;

                h1 {
                  position: relative;
                  top: -8px;
                  left: 21px;
                  white-space: nowrap;
                  font-size: 36px;
                  font-weight: bold;
                }
              }
            }

            @media (min-width: 769px) {
              .trapezoid-orange {
                position: relative;
                top: -20px;
                left: 70px;
                width: 0;
                height: 52px;
                border-top: 14px solid transparent;
                border-right: 178px solid #EC6B1B;
                border-left: 0px solid transparent;
                border-bottom: 0px solid transparent;

                h2 {
                  position: relative;
                  top: -6px;
                  left: 5px;
                  white-space: nowrap;
                  font-size: 40px;
                  font-weight: bold;
                }
              }
            }

            @media (max-width: 768px) {
              .trapezoid-orange {
                position: relative;
                top: -20px;
                left: 70px;
                width: 0;
                height: 48px;
                border-top: 14px solid transparent;
                border-right: 162px solid #EC6B1B;
                border-left: 0px solid transparent;
                border-bottom: 0px solid transparent;

                h2 {
                  position: relative;
                  top: -6px;
                  left: 5px;
                  white-space: nowrap;
                  font-size: 36px;
                  font-weight: bold;
                }
              }
            }

            @media (max-width: 540px) {
              .trapezoid-orange {
                position: relative;
                top: -16px;
                left: 70px;
                width: 0;
                height: 48px;
                border-top: 14px solid transparent;
                border-right: 162px solid #EC6B1B;
                border-left: 0px solid transparent;
                border-bottom: 0px solid transparent;

                h2 {
                  position: relative;
                  top: -6px;
                  left: 5px;
                  white-space: nowrap;
                  font-size: 36px;
                  font-weight: bold;
                }
              }
            }
          }

          .image-tele {
            text-align: center;

            img.tele-img {
              width: 77%;
            }
          }
        }

        .right-side1 {
          h3 {
            font-size: 34px;
            font-weight: bold;

            span.blue {
              color: #54BCB6;
            }
          }

          p {
            text-align: justify;
            font-weight: 300;
            font-size: 16px;
            line-height: 22px;
          }
        }
      }


      #section-2 {
        max-width: 85vw;
        margin: 0 auto;
        // padding : 100px 0;

        .left-side2 {
          padding : 0 15px 60px 15px;

          h3 {
            font-size: 34px;
            font-weight: bold;

            span.blue {
              color: #54BCB6;
            }
          }

          p {
            text-align: justify;
            font-weight: 300;
            font-size: 16px;
            line-height: 22px;
          }

          .trapezoid-orange {
            position: relative;
            top: 8px;
            // float: right;
            width: 0;
            height: 30px;
            border-top: 8px solid transparent;
            border-right: 190px solid #EC6B1B;
            border-left: 0px solid transparent;
            border-bottom: 0px solid transparent;

            a.more-about {
              position: relative;
              left: 7px;
              color: white;
              text-decoration: none;
              font-weight: bold;
              white-space: nowrap;
              outline: none;
            }

            @media (min-width: 769px) {
              img.arrow {
                width: 60px;
                opacity: 1;
                transform: rotate(-48deg);
                position: relative;
                left: 224px;
                top: -45px;
              }
            }

            @media (max-width: 768px) {
              img.arrow {
                width: 56px;
                opacity: 1;
                transform: rotate(-72deg);
                position: relative;
                left: 193px;
                top: -45px;
              }
            }
          }
        }


        @media (min-width: 1025px) {
          .right-side2 {
            .image-will {
              height: 100%;
              display: flex;
              align-items: flex-end;
              justify-content: center;

              img.will-about {
                width: 80%;
              }
            }
          }
        }

        @media (max-width: 1024px) {
          .right-side2 {
            .image-will {
              height: 100%;
              display: flex;
              align-items: flex-end;
              // justify-content: center;

              img.will-about {
                // margin-top: 83px;
                width: 115%;
              }
            }
          }
        }

        @media (max-width: 768px) {
          .right-side2 {
            .image-will {
              height: 100%;
              display: flex;
              align-items: flex-end;
              justify-content: center;

              img.will-about {
                // padding-top: 55px;
                width: 75%;
              }
            }
          }
        }
      }
    }


    #section-3 {
      width: 100%;
      margin: 0 auto;
      background-image: linear-gradient(rgba(0,0,0,0.2)), image_url('citation.png');
      background-position: center;
      background-repeat: none;
      background-attachment: fixed;
      background-size: cover;

      .container-citation {
        padding: 50px 0;
        max-width: 85vw;
        margin: 0 auto;

        @media (min-width: 768px) {
          .citation {
            text-align: center;

            img.guillemets {
              width: 77px;
            }

            p {
              font-size: 36px;
              font-weight: 300;
              // line-height: 0;
            }

            h4 {
              font-size: 35px;
              font-weight: bold;
              margin-top: 60px;
            }
          }
        }

        @media (max-width: 540px) {
          .citation {
            text-align: center;

            img.guillemets {
              width: 59px;
            }

            p {
              font-size: 28px;
              font-weight: 300;
              // line-height: 0;
            }

            h4 {
              font-size: 30px;
              font-weight: bold;
              margin-top: 60px;
            }
          }
        }

        @media (max-width: 320px) {
          .citation {
            text-align: center;

            img.guillemets {
              width: 50px;
            }

            p {
              font-size: 24px;
              font-weight: 300;
              // line-height: 0;
            }

            h4 {
              font-size: 30px;
              font-weight: bold;
              margin-top: 60px;
            }
          }
        }
      }
    }

    .container-section-2 {
      padding: 50px 0 50px 0;
      //background-image: image_url('image-fond.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: none;

      #section-5 {
        max-width: 85vw;
        margin: 0 auto;

        @media (min-width: 769px) {
          .trapezoids-2 {
            padding-bottom: 30px;

            .trapezoid-blue {
              width: 0;
              height: 70px;
              border-top: 18px solid transparent;
              border-right: 276px solid #54BCB6;
              border-left: 0px solid transparent;
              border-bottom: 0px solid transparent;

              h1 {
                position: relative;
                top: -8px;
                left: 21px;
                white-space: nowrap;
                font-size: 40px;
                font-weight: bold;
              }
            }

            .trapezoid-orange {
              position: relative;
              top: -20px;
              left: 70px;
              width: 0;
              height: 52px;
              border-top: 14px solid transparent;
              border-right: 171px solid #EC6B1B;
              border-left: 0px solid transparent;
              border-bottom: 0px solid transparent;

              h2 {
                position: relative;
                top: -6px;
                left: 5px;
                white-space: nowrap;
                font-size: 40px;
                font-weight: bold;
              }
            }
          }
        }

        @media (max-width: 768px) {
          .trapezoids-2 {
            padding-bottom: 30px;

            .trapezoid-blue {
              width: 0;
              height: 60px;
              border-top: 18px solid transparent;
              border-right: 251px solid #54BCB6;
              border-left: 0px solid transparent;
              border-bottom: 0px solid transparent;

              h1 {
                position: relative;
                top: -8px;
                left: 21px;
                white-space: nowrap;
                font-size: 36px;
                font-weight: bold;
              }
            }

            .trapezoid-orange {
              position: relative;
              top: -20px;
              left: 70px;
              width: 0;
              height: 52px;
              border-top: 14px solid transparent;
              border-right: 171px solid #EC6B1B;
              border-left: 0px solid transparent;
              border-bottom: 0px solid transparent;

              h2 {
                position: relative;
                top: -6px;
                left: 5px;
                white-space: nowrap;
                font-size: 36px;
                font-weight: bold;
              }
            }
          }
        }

        @media (max-width: 540px) {
          .trapezoids-2 {
            padding-bottom: 30px;

            .trapezoid-blue {
              width: 0;
              height: 60px;
              border-top: 18px solid transparent;
              border-right: 251px solid #54BCB6;
              border-left: 0px solid transparent;
              border-bottom: 0px solid transparent;

              h1 {
                position: relative;
                top: -8px;
                left: 21px;
                white-space: nowrap;
                font-size: 36px;
                font-weight: bold;
              }
            }
            .trapezoid-orange {
              position: relative;
              top: -20px;
              left: 70px;
              width: 0;
              height: 52px;
              border-top: 14px solid transparent;
              border-right: 171px solid #EC6B1B;
              border-left: 0px solid transparent;
              border-bottom: 0px solid transparent;

              h2 {
                position: relative;
                top: -2px;
                left: 12px;
                white-space: nowrap;
                font-size: 36px;
                font-weight: bold;
              }
            }
          }
        }

        @media (max-width: 340px) {
          .trapezoids-2 {
            padding-bottom: 30px;

            .trapezoid-blue {
              width: 0;
              height: 60px;
              border-top: 18px solid transparent;
              border-right: 251px solid #54BCB6;
              border-left: 0px solid transparent;
              border-bottom: 0px solid transparent;

              h1 {
                position: relative;
                top: -8px;
                left: 21px;
                white-space: nowrap;
                font-size: 36px;
                font-weight: bold;
              }
            }

            .trapezoid-orange {
              position: relative;
              top: -20px;
              left: 70px;
              width: 0;
              height: 52px;
              border-top: 14px solid transparent;
              border-right: 171px solid #EC6B1B;
              border-left: 0px solid transparent;
              border-bottom: 0px solid transparent;

              h2 {
                position: relative;
                top: -6px;
                left: 5px;
                white-space: nowrap;
                font-size: 40px;
                font-weight: bold;
              }
            }
          }
        }

        .will-le-mono {
          padding-bottom: 60px;
          display: flex;
          align-items: center;

          .left-side1 {
            @media (min-width: 769px) {
              .image-team {
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;

                img.team-will-le-mono {
                  width: 60%;
                }
              }
            }

            @media (max-width: 768px) {
              .image-team {
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;

                img.team-will-le-mono {
                  width: 70%;
                }
              }
            }

            @media (max-width: 540px) {
              .image-team {
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;

                img.team-will-le-mono {
                  width: 80%;
                }
              }
            }

            @media (max-width: 340px) {
              .image-team {
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;

                img.team-will-le-mono {
                  width: 80%;
                }
              }
            }
          }

          .right-side1 {
            h3 {
              font-size: 34px;
              font-weight: bold;

              span.blue {
                color: #54BCB6;
              }
            }

            p {
              text-align: justify;
              font-weight: 300;
              font-size: 16px;
              line-height: 22px;

              .bold {
                font-weight: bold;
              }
            }
          }
        }
      }


      #section-6 {
        max-width: 85vw;
        margin: 0 auto;

        @media (min-width: 1024px) {
          .aurelie {
            padding-bottom: 60px;
            display: flex;
            align-items: center;
          }
        }

        @media (max-width: 1023px) {
          .aurelie {
            padding-bottom: 60px;
            display: flex;
            align-items: center;
            flex-direction: column-reverse;
          }
        }

        .left-side2 {
          h3 {
            font-size: 34px;
            font-weight: bold;

            span.blue {
              color: #54BCB6;
            }
          }

          p {
            text-align: justify;
            font-weight: 300;
            font-size: 16px;
            line-height: 22px;

            .bold {
              font-weight: bold;
            }
          }
        }

        @media (min-width: 1024px) {
          .right-side2 {
            .image-team {
              display: flex;
              justify-content: center;
              align-items: center;

              img.team-aurelie {
                width: 60%;
              }
            }
          }
        }

        @media (max-width: 768px) {
          .right-side2 {
            .image-team {
              display: flex;
              justify-content: center;
              align-items: center;

              img.team-aurelie {
                width: 70%;
              }
            }
          }
        }

        @media (max-width: 540px) {
          .right-side2 {
            .image-team {
              display: flex;
              justify-content: center;
              align-items: center;

              img.team-aurelie {
                width: 80%;
              }
            }
          }
        }
      }

      #section-7 {
        max-width: 85vw;
        margin: 0 auto;

        .romain {
          padding-bottom: 60px;
          display: flex;
          align-items: center;

          .left-side1 {
            .image-team {
              display: flex;
              justify-content: center;
              align-items: center;

              @media (min-width: 769px) {
                img.team-romain {
                  width: 60%;
                }
              }

              @media (max-width: 768px) {
                img.team-romain {
                  width: 70%;
                }
              }

              @media (max-width: 540px) {
                img.team-romain {
                  width: 80%;
                }
              }
            }
          }

          .right-side1 {
            h3 {
              font-size: 34px;
              font-weight: bold;

              span.blue {
                color: #54BCB6;
              }
            }

            p {
              text-align: justify;
              font-weight: 300;
              font-size: 16px;
              line-height: 22px;

              .bold {
                font-weight: bold;
              }
            }
          }
        }
      }

      #section-8 {
        max-width: 85vw;
        margin: 0 auto;

        @media (min-width: 1024px) {
          .laetitia {
            padding-bottom: 60px;
            display: flex;
            align-items: center;
          }
        }

        @media (max-width: 1023px) {
          .laetitia {
            padding-bottom: 60px;
            display: flex;
            align-items: center;
            flex-direction: column-reverse;
          }
        }

        .left-side2 {
          h3 {
            font-size: 34px;
            font-weight: bold;

            span.blue {
              color: #54BCB6;
            }
          }

          p {
            text-align: justify;
            font-weight: 300;
            font-size: 16px;
            line-height: 22px;

            .bold {
              font-weight: bold;
            }
          }
        }


        @media (min-width: 1025px) {
          .right-side2 {
            .image-team {
              display: flex;
              justify-content: center;
              align-items: center;

              img.team-laetitia {
                width: 60%;
              }
            }
          }
        }

        @media (max-width: 1024px) {
          .right-side2 {
            .image-team {
              display: flex;
              justify-content: center;
              align-items: center;

              img.team-laetitia {
                width: 70%;
              }
            }
          }
        }

        @media (max-width: 768px) {
          .right-side2 {
            .image-team {
              display: flex;
              justify-content: center;
              align-items: center;

              img.team-laetitia {
                width: 70%;
              }
            }
          }
        }

        @media (max-width: 540px) {
          .right-side2 {
            .image-team {
              display: flex;
              justify-content: center;
              align-items: center;

              img.team-laetitia {
                width: 80%;
              }
            }
          }
        }
      }

      #section-9 {
        max-width: 85vw;
        margin: 0 auto;

        .martine {
          display: flex;
          align-items: center;

          .left-side1 {
            .image-team {
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;

              @media (min-width: 769px) {
                img.team-martine {
                  width: 60%;
                }
              }

              @media (max-width: 768px) {
                img.team-martine {
                  width: 70%;
                }
              }

              @media (max-width: 540px) {
                img.team-martine {
                  width: 80%;
                }
              }
            }
          }

          .right-side1 {
            h3 {
              font-size: 34px;
              font-weight: bold;

              span.blue {
                color: #54BCB6;
              }
            }

            p {
              text-align: justify;
              font-weight: 300;
              font-size: 16px;
              line-height: 22px;

              .bold {
                font-weight: bold;
              }
            }
          }
        }
      }
    }

    @media (min-width: 1025px) {
      .container-caroussel {
        margin: 0 auto;
        max-width: 85vw;
        text-align: center;
        padding: 50px 0 100px 0;

        h2 {
          font-size: 34px;
          font-weight: bold;
          text-align: left;
          // margin-bottom: 30px;

          span.blue {
            color: #54BCB6;
          }
        }

        .review {
          img.review {
            width: 300px;
            border-radius: 2%;
          }
        }

        .carousel-control-next {
          background-color: transparent;
          opacity: 1;
          width: 6vw;
          margin-right: -72px;
        }

        .carousel-control-prev {
          background-color: transparent;
          opacity: 1;
          width: 6vw;
          margin-left: -72px;
        }
      }
    }

    @media (max-width: 1024px) {
      .container-caroussel {
        margin: 0 auto;
        max-width: 85vw;
        text-align: center;
        padding: 50px 0 100px 0;

        h2 {
          font-size: 34px;
          font-weight: bold;
          text-align: left;
          // margin-bottom: 30px;

          span.blue {
            color: #54BCB6;
          }
        }

        .review {
          img.review {
            width: 270px;
            border-radius: 2%;
          }
        }

        .carousel-control-next {
          background-color: transparent;
          opacity: 1;
          width: 6vw;
          margin-right: -54px;
        }

        .carousel-control-prev {
          background-color: transparent;
          opacity: 1;
          width: 6vw;
          margin-left: -54px;
        }
      }
    }

    @media (max-width: 768px) {
      .container-caroussel {
        margin: 0 auto;
        max-width: 85vw;
        text-align: center;
        padding: 50px 0 100px 0;

        h2 {
          font-size: 34px;
          font-weight: bold;
          text-align: left;
          // margin-bottom: 30px;

          span.blue {
            color: #54BCB6;
          }
        }

        .review {
          img.review {
            width: 298px;
            border-radius: 2%;
          }
        }

        .carousel-control-next {
          background-color: transparent;
          opacity: 1;
          width: 8vw;
          margin-right: -50px;
        }

        .carousel-control-prev {
          background-color: transparent;
          opacity: 1;
          width: 8vw;
          margin-left: -50px;
        }
      }
    }

    @media (max-width: 540px) {
      .container-caroussel {
        margin: 0 auto;
        max-width: 85vw;
        text-align: center;
        padding: 50px 0 100px 0;

        h2 {
          font-size: 34px;
          font-weight: bold;
          text-align: left;
          // margin-bottom: 30px;

          span.blue {
            color: #54BCB6;
          }
        }

        .review {
          img.review {
            width: 235px;
            border-radius: 2%;
          }
        }

        .carousel-control-next {
          background-color: transparent;
          opacity: 1;
          width: 12vw;
          margin-right: -10px;
        }

        .carousel-control-prev {
          background-color: transparent;
          opacity: 1;
          width: 12vw;
          margin-left: -10px;
        }
      }
    }

    @media (max-width: 320px) {
      .container-caroussel {
        margin: 0 auto;
        max-width: 85vw;
        text-align: center;
        padding: 50px 0 100px 0;

        h2 {
          font-size: 34px;
          font-weight: bold;
          text-align: left;
          // margin-bottom: 30px;

          span.blue {
            color: #54BCB6;
          }
        }

        .review {
          img.review {
            width: 205px;
            border-radius: 2%;
          }
        }

        .carousel-control-next {
          background-color: transparent;
          opacity: 1;
          width: 12vw;
          margin-right: -10px;
        }

        .carousel-control-prev {
          background-color: transparent;
          opacity: 1;
          width: 12vw;
          margin-left: -10px;
        }
      }
    }

    #section-4 {
      background-color: #0A0E12;
      width: 100%;
      padding: 50px 0;

      .container-formation {
        max-width: 85vw;
        margin: 0 auto;

        .left-side3 {
          .image-formation {
            text-align: center;

            img.formation-img {
              width: 65%;
            }
          }
        }

        .right-side3 {
          display: flex;
          align-items: center;

          .container-explication{
            h3 {
              font-size: 30px;
              font-weight: bold;

              span.blue {
                color: #54BCB6;
              }
            }

            // img.arrow {
            //   width: 60px;
            //   opacity: 1;
            //   transform: rotate(-180deg);
            //   position: relative;
            //   left: -38px;
            //   // top: -23px;
            // }
            @media (min-width: 769px) {
              img.arrow {
                width: 60px;
                opacity: 1;
                transform: rotate(-180deg);
                position: relative;
                left: -38px;
                // top: -23px;
              }
            }

            @media (max-width: 768px) {
              img.arrow {
                width: 60px;
                opacity: 1;
                transform: rotate(-40deg);
                position: relative;
                left: 220px;
                top: 12px;
              }
            }

            @media (max-width: 540px) {
              img.arrow {
                width: 60px;
                opacity: 1;
                transform: rotate(-113deg);
                position: relative;
                left: 214px;
                top: 10px;
              }
            }

            @media (max-width: 320px) {
              img.arrow {
                width: 60px;
                opacity: 1;
                transform: rotate(-113deg);
                position: relative;
                left: 200px;
                // top: -23px;
              }
            }

            p {
              text-align: justify;
              font-weight: 300;
              font-size: 16px;
              line-height: 22px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .left-side1 {
    .trapezoids {
    padding-bottom: 30px;

      .trapezoid-blue {
        margin: 0 auto;
      }

      .trapezoid-orange {
        margin: 0 auto;
      }
    }
  }

  .right-side1 {
    h3 {
      padding-top: 70px;
    }
  }

  .left-side2 {
    h3 {
      padding-top: 70px;
    }
  }
}

.yt-player {
  .modal-body {
    .my-modal-content-yt-player {
      position: relative;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      width: 100%;
      pointer-events: auto;
      // background-color: #fff;
      // background-clip: padding-box;
      // border: 2px solid rgba(0, 0, 0, 0.2);
      outline: 0;

      iframe#frame {
        width: 100%;
        height: 350px;
        border-radius: 2%;
        // border: 2px solid white;
      }
    }
  }
}
