#articles {
  background-image: image_url('image-fond.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: none;
  padding-top: 245px;

  .container-articles {
    max-width: 85vw;
    margin: 0 auto;
  }
}
