#articles {
  background-image: linear-gradient(rgba(0,0,0,0.7)), image_url('header.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: none;
  padding-top: 300px;

  .container-articles {
    max-width: 85vw;
    margin: 0 auto;
  }
}
