#formations {
  background-image: image_url('image-fond.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: none;
  padding-top: 210px;

  .container-formations {
    max-width: 85vw;
    margin: 0 auto;

    @media (min-width: 541px) {
      .modal {
        // display: none;
        // width: 50%;
        // position: fixed;
        // top: 0;
        // left: 0;
        // z-index: 999;
        // text-align: center;
        // width: 100%;
        // height: 100vh;
        // background: rgba(0, 0, 0, 0.4);

        // &.show {
        //   display: block;
        // }

        .modal-dialog {
          .my-modal-content {
            position: relative;
            display: -webkit-box;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
            width: 100%;
            pointer-events: auto;
            // background-color: #fff;
            // background-clip: padding-box;
            // border: 2px solid rgba(0, 0, 0, 0.2);
            outline: 0;

            iframe#frame {
              width: 100%;
              height: 350px;
              border-radius: 2%;
              margin: 0 auto;
            }
          }
        }

        // .modal-close {
        //   width: 49%;
        //   margin: 0 auto;
        //   display: flex;
        //   justify-content: flex-end;
        //   position: relative;
        //   top: 237px;
        //   z-index: 999;


        //   .close-yt {
        //     width: 5%;
        //     position: relative;
        //     top: 35px;
        //   }
        // }

        // .my-modal-content {
        //   position: fixed;
        //   top: 35%;
        //   width: 100%;
        //   height: 37%;
        //   // margin-top: -100px;

        //   iframe {
        //     width: 45%;
        //     height: 100%;
        //     border-radius: 3%;
        //   }
        // }
      }
    }

    @media (max-width: 540px) {
      .modal {
        // display: none;
        // width: 50%;
        // position: fixed;
        // top: 0;
        // left: 0;
        // z-index: 999;
        // text-align: center;
        // width: 100%;
        // height: 100vh;
        // background: rgba(0, 0, 0, 0.4);

        // &.show {
        //   display: block;
        // }

        .modal-dialog {
          .my-modal-content {
            position: relative;
            display: -webkit-box;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
            width: 100%;
            pointer-events: auto;
            // background-color: #fff;
            // background-clip: padding-box;
            // border: 2px solid rgba(0, 0, 0, 0.2);
            outline: 0;

            iframe#frame {
              width: 320px;
              height: 200px;
              border-radius: 2%;
              margin: 0 auto;
            }
          }
        }

        // .modal-close {
        //   width: 49%;
        //   margin: 0 auto;
        //   display: flex;
        //   justify-content: flex-end;
        //   position: relative;
        //   top: 237px;
        //   z-index: 999;


        //   .close-yt {
        //     width: 5%;
        //     position: relative;
        //     top: 35px;
        //   }
        // }

        // .my-modal-content {
        //   position: fixed;
        //   top: 35%;
        //   width: 100%;
        //   height: 37%;
        //   // margin-top: -100px;

        //   iframe {
        //     width: 45%;
        //     height: 100%;
        //     border-radius: 3%;
        //   }
        // }
      }
    }

    @media (max-width: 320px) {
      .modal {
        // display: none;
        // width: 50%;
        // position: fixed;
        // top: 0;
        // left: 0;
        // z-index: 999;
        // text-align: center;
        // width: 100%;
        // height: 100vh;
        // background: rgba(0, 0, 0, 0.4);

        // &.show {
        //   display: block;
        // }

        .modal-dialog {
          .my-modal-content {
            position: relative;
            display: -webkit-box;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
            width: 100%;
            pointer-events: auto;
            // background-color: #fff;
            // background-clip: padding-box;
            // border: 2px solid rgba(0, 0, 0, 0.2);
            outline: 0;

            iframe#frame {
              width: 270px;
              height: 180px;
              border-radius: 2%;
              margin: 0 auto;
            }
          }
        }

        // .modal-close {
        //   width: 49%;
        //   margin: 0 auto;
        //   display: flex;
        //   justify-content: flex-end;
        //   position: relative;
        //   top: 237px;
        //   z-index: 999;


        //   .close-yt {
        //     width: 5%;
        //     position: relative;
        //     top: 35px;
        //   }
        // }

        // .my-modal-content {
        //   position: fixed;
        //   top: 35%;
        //   width: 100%;
        //   height: 37%;
        //   // margin-top: -100px;

        //   iframe {
        //     width: 45%;
        //     height: 100%;
        //     border-radius: 3%;
        //   }
        // }
      }
    }


    .trapezoids-title {
      display: inline;

      @media (min-width: 769px) {
        .trapezoid-blue {
          margin: 0 auto;
          width: 0;
          height: 70px;
          border-top: 18px solid transparent;
          border-right: 295px solid #54BCB6;
          border-left: 0px solid transparent;
          border-bottom: 0px solid transparent;

          h1 {
            position: relative;
            left: 21px;
            white-space: nowrap;
            font-size: 40px;
            font-weight: bold;
          }
        }
      }

      @media (max-width: 768px) {
        .trapezoid-blue {
          margin: 0 auto;
          width: 0;
          height: 61px;
          border-top: 18px solid transparent;
          border-right: 235px solid #54BCB6;
          border-left: 0px solid transparent;
          border-bottom: 0px solid transparent;

          h1 {
            position: relative;
            left: 12px;
            white-space: nowrap;
            font-size: 34px;
            font-weight: bold;
          }
        }
      }

      @media (min-width: 769px) {
        img.arrow {
          width: 60px;
          opacity: 1;
          transform: rotate(-120deg);
          position: relative;
          left: 293px;
          top: -51px;
        }
      }

      @media (max-width: 768px) {
        img.arrow {
          width: 60px;
          opacity: 1;
          transform: rotate(-120deg);
          position: relative;
          left: 224px;
          top: -51px;
        }
      }
    }

    .second-title {
      // padding: 35px 0 0 0;

      h2.phrase-accroche {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;

        span.blue {
          color: #EC6B1B;
        }
      }
    }

    h2.title-question {
      padding: 0 0 30px 0;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }

    h3.neon {
      margin-bottom: 0;
      padding: 35px 0 35px 0;
      color: white;
      font-weight: 900;
      text-align: center;
      font-size: 35px;
      text-transform: uppercase;
      // padding-top: 40px;
      font-style: italic;
      text-decoration: underline overline;
    }

    .neon {
      animation: blink 3s infinite;
      color: white;
      text-shadow:

        0 0 5px #EC6B1B,
        0 0 10px #EC6B1B,
        0 0 20px #EC6B1B,
        0 0 40px #EC6B1B,
        0 0 80px #EC6B1B,
        0 0 90px #EC6B1B,
        0 0 100px #EC6B1B
    }

    @keyframes blink {
      9% {
         opacity: 1;
      }

      10% {
         opacity: 0;
      }

      13% {
         opacity: 1;
      }

       39% {
         opacity: 1;
      }

      40% {
         opacity: 0;
      }

      43% {
         opacity: 1;
      }

      44% {
         opacity: 0;
      }

       44% {
         opacity: 1;
      }

       50% {
         opacity: 0;
      }

       52% {
         opacity: 1;
      }

       72% {
         opacity: 1;
      }

      75% {
        opacity: 0;
      }

      78% {
        opacity: 1;
      }

      97% {
        opacity: 1;
      }

      98% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    .container-btn-new {
      background-color: #46E031;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      max-width: 250px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 50px;
      padding: 10px 0;

      button.btn-new {
        background: transparent;
        border: none;
        outline: none;

        a {
          text-decoration: none;
          color: white;
          font-weight: bold;
          outline: none;
        }

        i {
          color: white;
          font-size: 19px;
        }
      }
    }


    .pack-complet {
      justify-content: center;
    }

    .card {
      background-color: transparent;
      text-align: center;
      padding-bottom: 100px;
      border: transparent;
      // height: 600px;

      .img-formation {
        img.formation-img {
          width: 80%;
        }

        @media (min-width: 1025px) {
          @keyframes packcomplet {
          0% { transform: translateX(0); }
          100% { transform: translateX(-20px); }
        }


          img.arrow {
            width: 60px;
            opacity: 1;
            transform: rotate(-177deg);
            position: relative;
            left: -150px;
            top: 46px;
            animation: packcomplet 0.5s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
          }
        }

        @media (max-width: 1024px) {
          @keyframes packcomplet {
          0% { transform: translateX(0); }
          100% { transform: translateX(-15px); }
        }


          img.arrow {
            width: 60px;
            opacity: 1;
            transform: rotate(-177deg);
            position: relative;
            left: -122px;
            top: 34px;
            animation: packcomplet 0.5s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
          }
        }

        @media (max-width: 768px) {
          @keyframes packcomplet {
          0% { transform: translateX(0); }
          100% { transform: translateX(-20px); }
        }


          img.arrow {
            width: 50px;
            opacity: 1;
            transform: rotate(-177deg);
            position: relative;
            left: -150px;
            top: 46px;
            animation: packcomplet 0.5s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
          }
        }

        @media (max-width: 540px) {
          @keyframes packcomplet {
          0% { transform: translateX(0); }
          100% { transform: translateX(-15px); }
        }


          img.arrow {
            width: 50px;
            opacity: 1;
            transform: rotate(-177deg);
            position: relative;
            left: -122px;
            top: 34px;
            animation: packcomplet 0.5s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
          }
        }

        @media (max-width: 321px) {
          @keyframes packcomplet {
          0% { transform: translateX(0); }
          100% { transform: translateX(-15px); }
        }


          img.arrow {
            width: 50px;
            opacity: 1;
            transform: rotate(-177deg);
            position: relative;
            left: -112px;
            top: 34px;
            animation: packcomplet 0.5s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
          }
        }

        img#pack-complet {
          width: 100%;
          position: relative;
          // left: -18px;
        }

        a.yt-link-button {
          outline: none;

          img.formation-play {
            position: absolute;
            top: 5px;
            left: 46px;
            width: 76%;
          }

          img#pack-complet {
            position: absolute;
            top: 50px;
            left: 26px;
            width: 90%;
          }
        }
      }

      .description-formation {
        margin: 0 auto;
        padding-top: 15px;
        width: 70%;

        h2 {
          color: white;
          text-align: left;
          margin-bottom: 0;
          font-weight: bold;
          font-size: 20px;
          font-family: 'Roboto Condensed';
        }

        p {
          color: white;
          text-align: left;
          font-weight: 300;
          font-size: 16px;
          line-height: 22px;
        }
      }

      p.price {
        font-size: 18px;
        font-weight: bold;
        span.barre {
          text-decoration: line-through;

          i {
            font-weight: bold;
          }
        }
      }

      .trapezoid-btn-coaching {
        margin: 0 auto;
        width: 0;
        height: 40px;
        border-top: 8px solid transparent;
        border-right: 234px solid #EC6B1B;
        border-left: 0px solid transparent;
        border-bottom: 0px solid transparent;

        a.url_learnybox {
          position: relative;
          top: 4px;
          left: 27px;
          color: white;
          text-decoration: none;
          font-weight: bold;
          white-space: nowrap;
          font-size: 16px;
          outline: none;
        }
      }

      .container-btns-update-delete {
        padding-top: 20px;

        .container-btn-update {
          background-color: #136DEE;
          border-top-right-radius: 50px;
          border-bottom-right-radius: 50px;
          border-top-left-radius: 50px;
          border-bottom-left-radius: 50px;
          max-width: 50px;
          margin: 0 auto;
          text-align: center;
          margin-bottom: 55px;
          padding: 10px 0;

          button.btn-update {
            background: transparent;
            border: none;
            outline: none;

            a {
              text-decoration: none;
              color: white;
              font-weight: bold;
              outline: none;
            }

            i {
              color: white;
              font-size: 19px;
            }
          }
        }

        .container-btn-delete {
          background-color: #EA2626;
          border-top-right-radius: 50px;
          border-bottom-right-radius: 50px;
          border-top-left-radius: 50px;
          border-bottom-left-radius: 50px;
          max-width: 50px;
          margin: 0 auto;
          text-align: center;
          margin-bottom: 55px;
          padding: 10px 0;

          button.btn-delete {
            background: transparent;
            border: none;
            outline: none;

            a {
              text-decoration: none;
              color: white;
              font-weight: bold;
              outline: none;
            }

            i {
              color: white;
              font-size: 19px;
            }
          }
        }
      }
    }

    @media (min-width: 1025px) {
      .container-caroussel {
        text-align: center;
        padding-bottom: 100px;

        h2 {
          font-size: 34px;
          font-weight: bold;
          text-align: left;
          // margin-bottom: 30px;

          span.blue {
            color: #54BCB6;
          }
        }

        .review {
          img.review {
            width: 300px;
            border-radius: 2%;
          }
        }

        .carousel-control-next {
          background-color: #0A0E12;
          opacity: 1;
          width: 6vw;
          margin-right: -72px;
        }

          .carousel-control-prev {
          background-color: #0A0E12;
          opacity: 1;
          width: 6vw;
          margin-left: -72px;
        }
      }
    }

    @media (max-width: 1024px) {
      .container-caroussel {
        text-align: center;
        padding-bottom: 100px;

        h2 {
          font-size: 34px;
          font-weight: bold;
          text-align: left;
          // margin-bottom: 30px;

          span.blue {
            color: #54BCB6;
          }
        }

        .review {
          img.review {
            width: 270px;
            border-radius: 2%;
          }
        }

        .carousel-control-next {
          background-color: transparent;
          opacity: 1;
          width: 6vw;
          margin-right: -54px;
        }

          .carousel-control-prev {
          background-color: transparent;
          opacity: 1;
          width: 6vw;
          margin-left: -54px;
        }
      }
    }

    @media (max-width: 768px) {
      .container-caroussel {
        text-align: center;
        padding-bottom: 100px;

        h2 {
          font-size: 34px;
          font-weight: bold;
          text-align: left;
          // margin-bottom: 30px;

          span.blue {
            color: #54BCB6;
          }
        }

        .review {
          img.review {
            width: 298px;
            border-radius: 2%;
          }
        }

        .carousel-control-next {
          background-color: transparent;
          opacity: 1;
          width: 8vw;
          margin-right: -50px;
        }

          .carousel-control-prev {
          background-color: transparent;
          opacity: 1;
          width: 8vw;
          margin-left: -50px;
        }
      }
    }

    @media (max-width: 540px) {
      .container-caroussel {
        text-align: center;
        padding-bottom: 50px;

        h2 {
          font-size: 34px;
          font-weight: bold;
          text-align: left;
          // margin-bottom: 30px;

          span.blue {
            color: #54BCB6;
          }
        }

        .review {
          img.review {
            width: 235px;
            border-radius: 2%;
          }
        }

        .carousel-control-next {
          background-color: transparent;
          opacity: 1;
          width: 12vw;
          margin-right: -10px;
        }

          .carousel-control-prev {
          background-color: transparent;
          opacity: 1;
          width: 12vw;
          margin-left: -10px;
        }
      }
    }

    @media (max-width: 320px) {
      .container-caroussel {
        text-align: center;
        padding-bottom: 50px;

        h2 {
          font-size: 34px;
          font-weight: bold;
          text-align: left;
          // margin-bottom: 30px;

          span.blue {
            color: #54BCB6;
          }
        }

        .review {
          img.review {
            width: 205px;
            border-radius: 2%;
          }
        }

        .carousel-control-next {
          background-color: transparent;
          opacity: 1;
          width: 12vw;
          margin-right: -10px;
        }

          .carousel-control-prev {
          background-color: transparent;
          opacity: 1;
          width: 12vw;
          margin-left: -10px;
        }
      }
    }
  }
}
