#formations {
  background-image: image_url('image-fond.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: none;
  padding-top: 245px;

  .container-formations {
    max-width: 85vw;
    margin: 0 auto;

    .modal {
      // display: none;
      // width: 50%;
      // position: fixed;
      // top: 0;
      // left: 0;
      // z-index: 999;
      // text-align: center;
      // width: 100%;
      // height: 100vh;
      // background: rgba(0, 0, 0, 0.4);

      // &.show {
      //   display: block;
      // }

      .modal-dialog {
        .my-modal-content {
          position: relative;
          display: -webkit-box;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          flex-direction: column;
          width: 100%;
          pointer-events: auto;
          // background-color: #fff;
          // background-clip: padding-box;
          // border: 2px solid rgba(0, 0, 0, 0.2);
          outline: 0;

          iframe#frame {
            width: 100%;
            height: 350px;
            border-radius: 2%;
            // border: 2px solid white;
          }
        }
      }

      // .modal-close {
      //   width: 49%;
      //   margin: 0 auto;
      //   display: flex;
      //   justify-content: flex-end;
      //   position: relative;
      //   top: 237px;
      //   z-index: 999;


      //   .close-yt {
      //     width: 5%;
      //     position: relative;
      //     top: 35px;
      //   }
      // }

      // .my-modal-content {
      //   position: fixed;
      //   top: 35%;
      //   width: 100%;
      //   height: 37%;
      //   // margin-top: -100px;

      //   iframe {
      //     width: 45%;
      //     height: 100%;
      //     border-radius: 3%;
      //   }
      // }
    }


    .trapezoids-title {
      display: inline;

      @media (min-width: 769px) {
        .trapezoid-blue {
          margin: 0 auto;
          width: 0;
          height: 70px;
          border-top: 18px solid transparent;
          border-right: 295px solid #54BCB6;
          border-left: 0px solid transparent;
          border-bottom: 0px solid transparent;

          h1 {
            position: relative;
            left: 21px;
            white-space: nowrap;
            font-size: 40px;
            font-weight: bold;
          }
        }
      }

      @media (max-width: 768px) {
        .trapezoid-blue {
          margin: 0 auto;
          width: 0;
          height: 61px;
          border-top: 18px solid transparent;
          border-right: 235px solid #54BCB6;
          border-left: 0px solid transparent;
          border-bottom: 0px solid transparent;

          h1 {
            position: relative;
            left: 12px;
            white-space: nowrap;
            font-size: 34px;
            font-weight: bold;
          }
        }
      }

      @media (min-width: 769px) {
        img.arrow {
          width: 60px;
          opacity: 1;
          transform: rotate(-120deg);
          position: relative;
          left: 293px;
          top: -51px;
        }
      }

      @media (max-width: 768px) {
        img.arrow {
          width: 60px;
          opacity: 1;
          transform: rotate(-120deg);
          position: relative;
          left: 230px;
          top: -51px;
        }
      }
    }

    h2.title-question {
      padding: 35px 0 30px 0;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }

    // h3.offer-confinement {
    //   padding-bottom: 30px;
    //   color: transparent;
    //   text-align: center;
    //   font-size: 30px;
    //   font-weight: bold;
    //   background: linear-gradient(90deg, #000, #EC6B1B, #000);
    //   background-size: 80%;
    //   background-repeat: no-repeat;
    //   -webkit-background-clip: text;
    //   animation: flashText 3s infinite;

    //   @keyframes flashText {
    //     from{ background-position: -500%; }
    //     to{ background-position: 500%; }
    //   }
    // }

    // h3.offer-confinement {
    //   font-size: 30px;
    //   font-weight: bold;
    //   animation: blinker 1s linear infinite;
    //   color: white;
    //   text-align: center;
    //   padding-bottom: 30px;
    //   font-style: italic;

    //   @keyframes blinker {
    //     50% { opacity: 0; }
    //   }
    // }


    h3.neon {
      color: white;
      font-weight: 900;
      text-align: center;
      font-size: 35px;
      text-transform: uppercase;
      padding-bottom: 30px;
      font-style: italic;
      text-decoration: underline overline;
    }

    .neon {
      animation: blink 3s infinite;
      color: white;
      text-shadow:

        0 0 5px #EC6B1B,
        0 0 10px #EC6B1B,
        0 0 20px #EC6B1B,
        0 0 40px #EC6B1B,
        0 0 80px #EC6B1B,
        0 0 90px #EC6B1B,
        0 0 100px #EC6B1B,
        0 0 150px #EC6B1B;
    }

    @keyframes blink {
      9% {
         opacity: 1;
      }

      10% {
         opacity: 0;
      }

      13% {
         opacity: 1;
      }

       39% {
         opacity: 1;
      }

      40% {
         opacity: 0;
      }

      43% {
         opacity: 1;
      }

      44% {
         opacity: 0;
      }

       44% {
         opacity: 1;
      }

       50% {
         opacity: 0;
      }

       52% {
         opacity: 1;
      }

       72% {
         opacity: 1;
      }

      75% {
        opacity: 0;
      }

      78% {
        opacity: 1;
      }

      97% {
        opacity: 1;
      }

      98% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }


    .pack-complet {
      justify-content: center;
    }

    .card {
      background-color: transparent;
      text-align: center;
      padding-bottom: 100px;
      border: transparent;
      // height: 600px;

      .img-formation {
        img.formation-img {
          width: 80%;
        }

        a.yt-link-button {
          outline: none;

          img.formation-play {
            position: absolute;
            top: 0;
            left: 46px;
            width: 76%;
          }
        }
      }

      .description-formation {
        margin: 0 auto;
        padding-top: 15px;
        width: 70%;

        h2 {
          color: white;
          text-align: left;
          margin-bottom: 0;
          font-weight: bold;
          font-size: 20px;
          font-family: 'Roboto Condensed';
        }

        p {
          color: white;
          text-align: left;
          font-weight: 300;
          font-size: 16px;
          line-height: 22px;
        }
      }

      p.price {
        font-size: 18px;
        font-weight: bold;
        span.barre {
          text-decoration: line-through;

          i {
            font-weight: bold;
          }
        }
      }

      .trapezoid-btn-coaching {
        margin: 0 auto;
        width: 0;
        height: 40px;
        border-top: 8px solid transparent;
        border-right: 234px solid #EC6B1B;
        border-left: 0px solid transparent;
        border-bottom: 0px solid transparent;

        a.url_learnybox {
          position: relative;
          top: 4px;
          left: 27px;
          color: white;
          text-decoration: none;
          font-weight: bold;
          white-space: nowrap;
          font-size: 16px;
          outline: none;
        }
      }
    }
  }
}
