<section id="mentions-legales">
  <div class="container-mentions-legales">
    <div class="trapezoids">
      <div class="trapezoid-blue">
        <h1>MENTIONS</h1>
      </div>
      <div class="trapezoid-orange">
        <h1>LÉGALES</h1>
      </div>
    </div>
    <div class="container-title">
      <h2>INFORMATIONS <span class="blue">LÉGALES</span></h2>
    </div>
    <div class="container-global-mentions-legales">
      <p>En vertu de l’article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, il est précisé aux utilisateurs du site: www.will-le-mono.com l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi :</p>
      <ul class="list-mentions-legales">
        <li>Propriétaire : SARL UNIPERSONNELLE – Siret 83046971400018 – 14 AVENUE JEAN JAURES – 56100 LORIENT</li>
        <li>Développeur Web : Florent GONON (<a href="http://florentgonon.com" target="_blank">florentgonon.com</a>)</li>
        <li>Web Designer : Karl LE GALLO</li>
        <li>Responsable publication : Auto Moto Ecole W.Kerautret – wkerautret.automoto@gmail.com</li>
        <li>Le responsable publication est une personne physique ou une personne morale.</li>
        <li>Hébergeur : OVHcloud – RCS Lille Métropole 424 761 419 00045</li>
        <li>Crédit photos : Les photos ont été réalisées par William KERAUTRET et sont la propriété exclusive de Will-Le-Mono.</li>
        <li>Crédit vidéos : Les vidéos ont été tournées par William KERAUTRET, montées par Yann BOUTSOUDINE et sont la propriété exclusive de Will-Le-Mono.</li>
        <li>Toute représentation ou reproduction abusive du site Will-Le-Mono par quelque procédure que ce soit, constituerait donc une contrefaçon sanctionnée par les articles 425 et suivants du Code pénal. Les textes mis en ligne sur le site, sauf mentions particulières, sont la propriété intellectuelle et légale de son auteur. Sauf accord express, le site n’autorise que la reproduction du texte avec un lien direct (http://www.will-le-mono.fr/, sans utiliser de frame ou de redirection). Dans tous les cas, ces textes originaux ne peuvent être cités qu’à condition de prévenir l’auteur.</li>
        <li>Conformément à la loi Informatique et Libertés en date du 6 janvier 1978, vous disposez d’un droit d’accès, de rectification, de modification et de suppression concernant les données qui vous concernent. Vous pouvez exercer ce droit en envoyant un courrier.</li>
        <li>Copyright : La loi française du 11 mars 1957 n’autorise, aux termes des alinéas 2 et 3 de l’article 41, d’une part, que les « copies ou reproductions strictement réservées à l’usage privé du copiste et non destinées à une utilisation collective » et, d’autre part, que les analyses et les courtes citations dans un but d’exemple et d’illustration (« toute représentation ou reproduction intégrale, ou partielle, faite sans le consentement de l’auteur ou de ses ayants droit ou ayants cause, est illicite » – alinéa 1er de l’article 40).</li>
        <li>Les liens présents sur ce site peuvent orienter l’utilisateur sur des sites extérieurs dont le contenu ne peut en aucune manière engager la responsabilité de la rédaction du site.</li>
        <li>Enfin, toutes les marques citées appartiennent à leurs auteurs respectifs, ainsi que leurs logos sont des marques déposées.</li>
      </ul>
   </div>


  <%= render 'shared/footer' %>
</section>
