<!-- <div class="capture-mail">
  <a class="link-mail-capture" href="https://wkerautret.learnybox.com/obtenir-son-code-en-accelere/" target="_blank">
    Clique et intègre la TEAM
  </a>
</div>
 -->

<div class="capture-mail">
  <a class="link-mail-capture" href="https://wkerautret.learnybox.com/obtenir-son-code-en-accelere-1-1/" target="_blank">
    <%= image_tag 'email.png', class: "btn-mail"%>
  </a>
</div>

