<footer>
  <div id="container-footer">
    <div class="trapezoid-blue-title">
      <h1>RETROUVES MOI SUR</h1>
    </div>
    <div class="instagram-follow">
      <div class="img-footer">
        <%= image_tag 'footer.png', class: "img-will"%>
      </div>
      <div class="trapezoid-btn-follow">
        <%= link_to "ME SUIVRE", formations_path, class: "more-about" %>
      </div>
    </div>
  </div>
</footer>
