<div class="modal fade mail-home" id="mail-blog" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Je t'offre 3 cours de <span class="orange">CONDUITE en VIDEO !</span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><%= image_tag "quit (1).png" %></span>
        </button>
      </div>
      <div class="modal-body">
        <%= image_tag "modal-blog.png" %>
        <p class="first-line">Ces 3 leçons de conduite sont des piliers fondamentaux pour</p>
        <p class="second-line">te conduire vers la réussite de ton permis.</p>
      </div>
      <div class="modal-footer">
        <div class="trapezoids">
          <div class="trapezoid-orange">
            <a href="https://wkerautret.learnybox.com/coach-ton-permis/" target="_blank">OUI, JE SUIS MOTIVÉ !</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
