<div class="modal fade mail" id="mail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">TU VEUX FAIRE PARTIE DE MA <span class="orange">MAILING LIST PRIVÉE ?</span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><%= image_tag "quit (1).png" %></span>
        </button>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo quasi possimus maiores tenetur in excepturi inventore molestias deleniti? Id, modi minus quas sapiente cumque velit molestiae reprehenderit rerum accusamus ea.</p>
      </div>
      <div class="modal-footer">
        <div class="trapezoids">
          <div class="trapezoid-orange">
            <a href="https://wkerautret.learnybox.com/obtenir-son-code-en-accelere/" target="_blank">LET'S GO !</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
