<div class="modal fade mail" id="mail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Veux-tu faire partie de <span class="orange">la TEAM des FUTURS PILOTES ?</span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><%= image_tag "quit (1).png" %></span>
        </button>
      </div>
      <div class="modal-body">
        <%= image_tag "screen-modal.png" %>
        <p class="first-line">9H de formations</p>
        <p class="second-line">OFFERTES</p>
      </div>
      <div class="modal-footer">
        <div class="trapezoids">
          <div class="trapezoid-orange">
            <a href="https://wkerautret.learnybox.com/obtenir-son-code-en-accelere/" target="_blank">OUI, JE SUIS MOTIVÉ !</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
