<section id="section-about">
  <div class="container-about">
    <div class="left-side">
      <div class="trapezoids">
        <div class="trapezoid-blue">
          <h1>À PROPOS</h1>
        </div>
        <div class="trapezoid-orange">
          <h1>DE MOI</h1>
        </div>
      </div>
      <div class="image-about">
        <%= image_tag 'about.png', class: "about-img"%>
      </div>
    </div>
    <div class="right-side">
      <h2><span class="blue">UNE HISTOIRE</span><br>QUI COMMENCE<br>EN 2014...</h2>
      <p>Formateur, coach, enseignant, animateur, expert et tout cela dans le domaine de la sécurité routière spécifiquement en Auto / Moto.</p>
      <p>En effet depuis 2014 je n'ai pas arrêté de me former à la psycho-pédagogie, par passion pour les relations intrapersonnelles et interpersonnelles.</p>
      <p>Aujourd'hui je suis prêt à partager l'intégralité de mes expériences / connaissances / techniques dans le but de te permettre d'atteindre ton objectif PERMIS et pas que...</p>
      <p>Ce que tu obtiens en atteignant ton objectif n'est pas aussi important que ce que tu deviens en l'atteignant !</p>
      <div class="trapezoid-orange">
        <%= link_to "En savoir +", formations_path, class: "more-about" %>
      </div>
    </div>
  </div>
</section>
