<section id="section-citation">
  <div class="container-citation">
    <div class="citation">
      <p><%= image_tag 'guillemets-ouverts.png', class: "guillemets"%> Ce que tu obtiens en atteignant ton objectif n'est pas aussi important que ce que tu deviens en l'atteignant. <%= image_tag 'guillemets-fermes.png', class: "guillemets"%></p>
      <h2>ZIG ZIGLAR</h2>
    </div>
  </div>
</section>
