<section id="label">
  <div class="container-label">

    <div class="trapezoids">
      <div class="trapezoid-blue">
        <h1>LABEL</h1>
      </div>
      <div class="trapezoid-orange">
        <h1>QUALITÉ</h1>
      </div>
    </div>

    <div class="introduction">
      <h2>INTRODUCTION</h2>
      <h3>1. Will Le Mono a choisi d'être labélisé :</h3>
      <p>Qu’est ce que le Label Qualité ?</p>
      <p>L’Etat a décidé la création et la mise à disposition du label <span class="bold">« qualité des formations au sein des écoles de conduites »</span> qui repose sur une démarche volontaire des écoles de conduites et des écoles associatives agréées, quelles que soient leur forme juridique, leur taille et leur organisation.</p>
      <p>Ce label atteste de la qualité des formations à la conduite des véhicules terrestres à moteur et à la sécurité routière dispensées au sein des écoles de conduites et associations agréées pour devenir un conducteur responsable, respectueux des autres et de l’environnement.</p>
      <p>Au-delà des facilités offertes quant au référencement dans le cadre du financement de la formation professionnelle continue, le label donnera aux écoles de conduite et associations qui auront fait le choix d’être labellisées, l’exclusivité de dispenser certaines formations qualifiantes de 7 heures, le futur rendez-vous post-permis, le permis à un euro par jour et une visibilité sur le site Internet de la Délégation à la sécurité routière.</p>
      <p>Ainsi la création de ce label répond à plusieurs enjeux notamment pour le consommateur, les écoles de conduites, les associations, l’Etat et les financeurs. Surtout grâce aux informations claires et transparentes, elle permet au consommateur de choisir son école de conduite ou son association en toute connaissance de cause.</p>
      <p>Ce label est accordé pour une durée de 3 ans. Durant cette période, deux audits de suivis sont prévus au sein de l’établissement afin de ne laisser place à aucun manquements liés à ce label qualité.</p>
    </div>

    <div class="criterias">
      <h2>LES <span class="blue">CRITÈRES</span></h2>
      <h3>Critère 1.1 :</h3>
      <p class="bold">Décrire et formaliser le procédé d’évaluation utilisé au sein de l’école de conduite et le mettre à la disposition du public.</p>
      <p class="italic">L’évaluation est obligatoire avant la signature de tout contrat de formation, elle permet :</p>
      <ul>
        <li>De savoir quelles sont les connaissances et l’expérience que vous avez déjà acquises et elle permet de proposer une durée de la formation qui corresponde à votre profil et vos capacités.</li>
      </ul>
      <p class="italic">Voici les deux procédés d’évaluation que nous utilisons au sein de notre auto-école :</p>
      <ul>
        <li>Evaluation papier, principalement faite en voiture avec enseignant de la conduite :</li>
      </ul>
      <div class="row img-evaluation">
        <div class="col-lg-6">
          <%= image_tag "evaluation-depart-1.png", class: "evaluation-1", alt: "Evaluation de départ" %>
        </div>
        <div class="col-lg-6">
          <%= image_tag "evaluation-depart-2.png", class: "evaluation-2", alt: "Evaluation de départ" %>
        </div>
      </div>

      <h3 class="second">Critère 1.4 :</h3>
      <p class="bold">Les horaires de permanence code (tests de 40 questions) en entraînement seul :</p>
      <p>
        Lundi : fermeture du bureau <br>
        Mardi : de 14h à 19h <br>
        Mercredi : de 10h à 12h et de 13h à 18h <br>
        Jeudi : de 14h à 18h <br>
        Vendredi : de 13h à 18h <br>
        Samedi : de 9h à 12h
      </p>
      <p>Les cours collectifs sur les grands thèmes de la sécurité routière sont organisés chaque semaine et sont encadrés par un enseignant de la conduite et de la sécurité routière.</p>
      <p class="bold">Horaires des cours théoriques avec moniteur :</p>
      <p>
        Mercredi : 17h à 18h <br>
        Vendredi : 18h à 19h <br>
        ⚠ Attention : Cela peut varier en fonction des vacances scolaires, congés, examens des permis de conduire ⚠
      </p>
      <p class="bold">Les différentes thématiques au programme sont les suivantes :</p>
      <ul class="hyphen">
        <li>La vigilance et les attitudes à l’égard des autres usagers de la route</li>
        <li>Les effets dus à une consommation d’alcool, de drogues et de médicaments sur la conduite</li>
        <li>L’influence de la fatigue sur la conduite</li>
        <li>Les risques liés aux conditions météorologiques et à l’état de la chaussée</li>
        <li>Les usagers vulnérables</li>
        <li>Les spécificités de certaines catégories de véhicules et les différentes conditions de visibilité de leurs conducteurs</li>
        <li>Les gestes de premiers secours</li>
        <li>Les précautions à prendre en montant et en quittant son véhicule</li>
        <li>Le transport d’un chargement et de personnes</li>
        <li>La réglementation relative à l’obligation d’assurance et aux documents administratifs liés à l’utilisation du véhicule</li>
        <li>Les effets dus à la consommation d’alcool de drogues et de médicaments sur la conduite</li>
        <li>L’influence de la fatigue sur la conduite</li>
        <li>Les risques liés aux conditions météorologiques et à l’état de la chaussée</li>
        <li>La pression sociale (publicité, travail…)</li>
        <li>La pression des pairs</li>
      </ul>
      <h3 class="third">Critère 1.5 :</h3>
    </div>

  </div>
  <%= render 'shared/footer' %>
</section>
