@keyframes bounce {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}

@media (min-width: 541px) {
  .capture-mail {
    position: fixed;
    z-index: 999;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.5s ease;
    transition: border 0.5s ease;
    border-radius: 50%;

    a.link-mail-capture {
      background-color: none;

      img.btn-mail {
        transition: width 0.3s ease;
        width: 0px;
      }
    }


    &.solid-scroll {
      position: fixed;
      z-index: 999;
      bottom: 20px;
      right: 20px;
      background-color: #54BCB6;
      height: 60px;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: 2px solid white;
      animation: bounce 0.5s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      transition: background 0.5s ease;
      transition: border 0.5s ease;

      a.link-mail-capture {
        background-color: none;

        img.btn-mail {
          transition: width 0.5s ease;
          width: 37px;
        }
      }
    }
  }
}

@media (max-width: 540px) {
  .capture-mail {
    position: fixed;
    z-index: 999;
    bottom: 14px;
    right: 14px;
    background-color: transparent;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.5s ease;
    transition: border 0.5s ease;
    border-radius: 50%;

    a.link-mail-capture {
      background-color: none;

      img.btn-mail {
        transition: width 0.3s ease;
        width: 0px;
      }
    }


    &.solid-scroll {
      position: fixed;
      z-index: 999;
      bottom: 14px;
      right: 14px;
      background-color: #54BCB6;
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: 2px solid white;
      animation: bounce 0.5s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      transition: background 0.5s ease;
      transition: border 0.5s ease;

      a.link-mail-capture {
        background-color: none;

        img.btn-mail {
          transition: width 0.5s ease;
          width: 30px;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .capture-mail {
    position: fixed;
    z-index: 999;
    bottom: 14px;
    right: 14px;
    background-color: transparent;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.5s ease;
    transition: border 0.5s ease;
    border-radius: 50%;

    a.link-mail-capture {
      background-color: none;

      img.btn-mail {
        transition: width 0.3s ease;
        width: 0px;
      }
    }


    &.solid-scroll {
      position: fixed;
      z-index: 999;
      bottom: 14px;
      right: 14px;
      background-color: #54BCB6;
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: 2px solid white;
      animation: bounce 0.5s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      transition: background 0.5s ease;
      transition: border 0.5s ease;

      a.link-mail-capture {
        background-color: none;

        img.btn-mail {
          transition: width 0.5s ease;
          width: 23px;
        }
      }
    }
  }
}


// @keyframes bounce {
//   0% { transform: translateY(0); }
//   100% { transform: translateY(-20px); }
// }


// @media (min-width: 1000px) {
//   .capture-mail {
//     position: fixed;
//     z-index: 999;
//     bottom: 27px;
//     right: 27px;
//     background-color: transparent;
//     width: 87px;
//     height: 87px;
//     border-radius: 50%;
//     animation: bounce 0.5s;
//     animation-direction: alternate;
//     animation-iteration-count: infinite;
//     transition: background-color 0.5s ease;
//     text-align: center;


//     a {
//       color: transparent;
//       transition: color 0.4s ease;
//       position: relative;
//       top: 10px;
//     }


//     &.solid-scroll {
//       position: fixed;
//       z-index: 999;
//       bottom: 27px;
//       right: 27px;
//       background-color: #54BCB6;
//       width: 87px;
//       height: 87px;
//       border-radius: 50%;
//       animation: bounce 0.5s;
//       animation-direction: alternate;
//       animation-iteration-count: infinite;
//       transition: background-color 0.5s ease;

//       a {
//         color: white;
//         transition: color 0.4s ease;
//         position: relative;
//         top: 10px;
//       }
//     }
//   }
// }

// // @media (max-width: 900px) {
// //   .capture-mail {
// //     display: none;
// //     position: fixed;
// //     z-index: 999;
// //     bottom: 27px;
// //     right: 27px;

// //     a {
// //       background-color: none;
// //     }


// //     &.solid-scroll {
// //       position: fixed;
// //       z-index: 999;
// //       bottom: 27px;
// //       right: 27px;

// //       a {
// //         background-color: none;
// //       }
// //     }
// //   }
// // }
