footer.home {
  padding: 50px 0;
  background-color: #0A0E12;

  #container-footer {
    max-width: 85vw;
    margin: 0 auto;

    @media (min-width: 769px) {
      .trapezoid-blue-title {
        width: 0;
        height: 70px;
        border-top: 18px solid transparent;
        border-right: 250px solid #54BCB6;
        border-left: 0px solid transparent;
        border-bottom: 0px solid transparent;
        margin: 0 auto;

        h2 {
          position: relative;
          left: 13px;
          white-space: nowrap;
          font-size: 40px;
          font-weight: bold;
        }
      }
    }

    @media (max-width: 768px) {
      .trapezoid-blue-title {
        width: 0;
        height: 63px;
        border-top: 18px solid transparent;
        border-right: 184px solid #54BCB6;
        border-left: 0px solid transparent;
        border-bottom: 0px solid transparent;
        margin: 0 auto;

        h2 {
          position: relative;
          left: 5px;
          white-space: nowrap;
          font-size: 31px;
          font-weight: bold;
        }
      }
    }

    @media (min-width: 769px) {
      .trapezoid-orange-title {
        position: relative;
        top: -10px;
        left: 38px;
        width: 0;
        height: 49px;
        border-top: 14px solid transparent;
        border-right: 212px solid #EC6B1B;
        border-left: 0px solid transparent;
        border-bottom: 0px solid transparent;
        margin: 0 auto;

        h3 {
          position: relative;
          top: -7px;
          left: 8px;
          white-space: nowrap;
          font-size: 40px;
          font-weight: bold;
        }

        img.arrow {
          width: 60px;
          opacity: 1;
          transform: rotate(-256deg);
          position: relative;
          left: -63px;
          top: -20px;
        }
      }
    }

    @media (max-width: 768px) {
      .trapezoid-orange-title {
        position: relative;
        top: -10px;
        left: 27px;
        width: 0;
        height: 45px;
        border-top: 14px solid transparent;
        border-right: 169px solid #EC6B1B;
        border-left: 0px solid transparent;
        border-bottom: 0px solid transparent;
        margin: 0 auto;

        h3 {
          position: relative;
          top: -7px;
          left: 8px;
          white-space: nowrap;
          font-size: 31px;
          font-weight: bold;
        }

        img.arrow {
          width: 50px;
          opacity: 1;
          transform: rotate(-256deg);
          position: relative;
          left: -49px;
          top: -12px;
        }
      }
    }

    .social-list {
      ul {
        list-style: none;
        text-align: center;
        padding-top: 53px;
        padding-inline-start: 0;
        margin-bottom: 0;

        li {
          display: inline;

          @media (min-width: 960px) {
            img.instagram-icon {
              width: 7%;
            }

            img.tiktok-icon {
              width: 7%;
            }

            img.youtube-icon {
              width: 7%;
            }
          }

          @media (max-width: 960px) {
            img.instagram-icon {
              width: 7%;
            }

            img.tiktok-icon {
              width: 7%;
            }

            img.youtube-icon {
              width: 7%;
            }
          }

          @media (max-width: 768px) {
            img.instagram-icon {
              width: 15%;
            }

            img.tiktok-icon {
              width: 15%;
            }

            img.youtube-icon {
              width: 15%;
            }
          }

          @media (max-width: 540px) {
            img.instagram-icon {
              width: 20%;
            }

            img.tiktok-icon {
              width: 20%;
            }

            img.youtube-icon {
              width: 20%;
            }
          }

          @media (max-width: 320px) {
            img.instagram-icon {
              width: 20%;
            }

            img.tiktok-icon {
              width: 20%;
            }

            img.youtube-icon {
              width: 20%;
            }
          }
        }
      }
    }

    .logo-footer {
      text-align: center;
      padding-top: 30px;

      @media (min-width: 960px) {
        img.logo {
          width: 120px;
        }
      }

      @media (max-width: 960px) {
        img.logo {
          width: 120px;
        }
      }

      @media (max-width: 768px) {
        img.logo {
          width: 65px;
        }
      }

      @media (max-width: 540px) {
        img.logo {
          width: 65px;
        }
      }

      @media (max-width: 320px) {
        img.logo {
          width: 50px;
        }
      }
    }

    @media (min-width: 961px) {
      .footer-tab {
        width: 30vw;
        margin: 0 auto;

        .list-footer {
          display: flex;
          justify-content: space-between;
          list-style: none;
          padding-top: 30px;
          text-align: center;
          padding-inline-start: 0;
          margin-bottom: 0;

          li {
            a {
              text-decoration: none;
              color: white;
              position: relative;
              font-weight: 400;
              font-size: 18px;
              font-family: 'Roboto Condensed';
              transition: font-weight 0.4s ease 0s;

              &:hover {
                font-weight: 900;
                transition: font-weight 0.4s ease 0s;
              }
            }
          }
        }
      }
    }

    @media (max-width: 960px) {
      .footer-tab {
        width: 33vw;
        margin: 0 auto;

        .list-footer {
          display: flex;
          justify-content: space-between;
          list-style: none;
          padding-top: 30px;
          text-align: center;
          padding-inline-start: 0;
          margin-bottom: 0;

          li {
            a {
              text-decoration: none;
              color: white;
              position: relative;
              font-weight: 400;
              font-size: 18px;
              font-family: 'Roboto Condensed';
              transition: font-weight 0.4s ease 0s;

              &:hover {
                font-weight: 900;
                transition: font-weight 0.4s ease 0s;
              }
            }
          }
        }
      }
    }

    @media (max-width: 768px) {
      .footer-tab {
        width: 50vw;
        margin: 0 auto;

        .list-footer {
          display: flex;
          justify-content: space-between;
          list-style: none;
          padding-top: 30px;
          text-align: center;
          padding-inline-start: 0;
          margin-bottom: 0;

          li {
            a {
              text-decoration: none;
              color: white;
              position: relative;
              font-weight: 400;
              font-size: 18px;
              font-family: 'Roboto Condensed';
              transition: font-weight 0.4s ease 0s;

              &:hover {
                font-weight: 900;
                transition: font-weight 0.4s ease 0s;
              }
            }
          }
        }
      }
    }

    @media (max-width: 540px) {
      .footer-tab {
        width: 86vw;
        margin: 0 auto;

        .list-footer {
          display: flex;
          justify-content: space-between;
          list-style: none;
          padding-top: 30px;
          text-align: center;
          padding-inline-start: 0;
          margin-bottom: 0;

          li {
            a {
              text-decoration: none;
              color: white;
              position: relative;
              font-weight: 400;
              font-size: 16px;
              font-family: 'Roboto Condensed';
              transition: font-weight 0.4s ease 0s;

              &:hover {
                font-weight: 900;
                transition: font-weight 0.4s ease 0s;
              }
            }
          }
        }
      }
    }

    @media (max-width: 320px) {
      .footer-tab {
        width: 86vw;
        margin: 0 auto;

        .list-footer {
          display: flex;
          justify-content: space-between;
          list-style: none;
          padding-top: 30px;
          text-align: center;
          padding-inline-start: 0;
          margin-bottom: 0;

          li {
            a {
              text-decoration: none;
              color: white;
              position: relative;
              font-weight: 400;
              font-size: 16px;
              font-family: 'Roboto Condensed';
              transition: font-weight 0.4s ease 0s;

              &:hover {
                font-weight: 900;
                transition: font-weight 0.4s ease 0s;
              }
            }
          }
        }
      }
    }

    .copyright {
      text-align: center;
      padding-top: 30px;
      font-size: 12px;
    }

    @media (min-width: 1026px) {
      .mentions-legales-label {
        width: 11vw;
        margin: 0 auto;
        margin-top: 30px;

        .mentions-legales {
          display: flex;
          justify-content: space-between;
          list-style: none;
          text-align: center;
          // padding-inline-start: 0;

          a {
            color: white;
            font-family: 'Roboto Condensed';
            // padding-top: 30px;
            font-size: 12px;
            text-decoration: none;
            transition: font-weight 0.4s ease 0s;

            &:hover {
              font-weight: bold;
              transition: font-weight 0.4s ease 0s;
            }
          }
        }
      }
    }

    @media (max-width: 1025px) {
      .mentions-legales-label {
        width: 13vw;
        margin: 0 auto;
        margin-top: 30px;

        .mentions-legales {
          display: flex;
          justify-content: space-between;
          list-style: none;
          text-align: center;
          // padding-inline-start: 0;

          a {
            color: white;
            font-family: 'Roboto Condensed';
            // padding-top: 30px;
            font-size: 12px;
            text-decoration: none;
            transition: font-weight 0.4s ease 0s;

            &:hover {
              font-weight: bold;
              transition: font-weight 0.4s ease 0s;
            }
          }
        }
      }
    }

    @media (max-width: 768px) {
      .mentions-legales-label {
        width: 19vw;
        margin: 0 auto;
        margin-top: 30px;

        .mentions-legales {
          display: flex;
          justify-content: space-between;
          list-style: none;
          text-align: center;
          // padding-inline-start: 0;

          a {
            color: white;
            font-family: 'Roboto Condensed';
            // padding-top: 30px;
            font-size: 12px;
            text-decoration: none;
            transition: font-weight 0.4s ease 0s;

            &:hover {
              font-weight: bold;
              transition: font-weight 0.4s ease 0s;
            }
          }
        }
      }
    }

    @media (max-width: 540px) {
      .mentions-legales-label {
        width: 40vw;
        margin: 0 auto;
        margin-top: 30px;

        .mentions-legales {
          display: flex;
          justify-content: space-between;
          list-style: none;
          text-align: center;
          // padding-inline-start: 0;

          a {
            color: white;
            font-family: 'Roboto Condensed';
            // padding-top: 30px;
            font-size: 12px;
            text-decoration: none;
            transition: font-weight 0.4s ease 0s;

            &:hover {
              font-weight: bold;
              transition: font-weight 0.4s ease 0s;
            }
          }
        }
      }
    }
  }
}




// ###########################################   FOOTER  OTHERS  PAGES   ##################################################




footer {
  padding: 50px 0;
  // background-color: #0A0E12;

  #container-footer {
    max-width: 85vw;
    margin: 0 auto;

    @media (min-width: 769px) {
      .trapezoid-blue-title {
        width: 0;
        height: 70px;
        border-top: 18px solid transparent;
        border-right: 250px solid #54BCB6;
        border-left: 0px solid transparent;
        border-bottom: 0px solid transparent;
        margin: 0 auto;

        h2 {
          position: relative;
          left: 13px;
          white-space: nowrap;
          font-size: 40px;
          font-weight: bold;
        }
      }
    }

    @media (max-width: 768px) {
      .trapezoid-blue-title {
        width: 0;
        height: 63px;
        border-top: 18px solid transparent;
        border-right: 184px solid #54BCB6;
        border-left: 0px solid transparent;
        border-bottom: 0px solid transparent;
        margin: 0 auto;

        h2 {
          position: relative;
          left: 5px;
          white-space: nowrap;
          font-size: 31px;
          font-weight: bold;
        }
      }
    }

    @media (min-width: 769px) {
      .trapezoid-orange-title {
        position: relative;
        top: -10px;
        left: 38px;
        width: 0;
        height: 49px;
        border-top: 14px solid transparent;
        border-right: 212px solid #EC6B1B;
        border-left: 0px solid transparent;
        border-bottom: 0px solid transparent;
        margin: 0 auto;

        h3 {
          position: relative;
          top: -7px;
          left: 8px;
          white-space: nowrap;
          font-size: 40px;
          font-weight: bold;
        }

        img.arrow {
          width: 60px;
          opacity: 1;
          transform: rotate(-256deg);
          position: relative;
          left: -63px;
          top: -20px;
        }
      }
    }

    @media (max-width: 768px) {
      .trapezoid-orange-title {
        position: relative;
        top: -10px;
        left: 27px;
        width: 0;
        height: 45px;
        border-top: 14px solid transparent;
        border-right: 169px solid #EC6B1B;
        border-left: 0px solid transparent;
        border-bottom: 0px solid transparent;
        margin: 0 auto;

        h3 {
          position: relative;
          top: -7px;
          left: 8px;
          white-space: nowrap;
          font-size: 31px;
          font-weight: bold;
        }

        img.arrow {
          width: 50px;
          opacity: 1;
          transform: rotate(-256deg);
          position: relative;
          left: -49px;
          top: -12px;
        }
      }
    }

    .social-list {
      ul {
        list-style: none;
        text-align: center;
        padding-top: 53px;
        padding-inline-start: 0;
        margin-bottom: 0;

        li {
          display: inline;

          @media (min-width: 960px) {
            img.instagram-icon {
              width: 7%;
            }

            img.tiktok-icon {
              width: 7%;
            }

            img.youtube-icon {
              width: 7%;
            }
          }

          @media (max-width: 960px) {
            img.instagram-icon {
              width: 7%;
            }

            img.tiktok-icon {
              width: 7%;
            }

            img.youtube-icon {
              width: 7%;
            }
          }

          @media (max-width: 768px) {
            img.instagram-icon {
              width: 15%;
            }

            img.tiktok-icon {
              width: 15%;
            }

            img.youtube-icon {
              width: 15%;
            }
          }

          @media (max-width: 540px) {
            img.instagram-icon {
              width: 20%;
            }

            img.tiktok-icon {
              width: 20%;
            }

            img.youtube-icon {
              width: 20%;
            }
          }

          @media (max-width: 320px) {
            img.instagram-icon {
              width: 20%;
            }

            img.tiktok-icon {
              width: 20%;
            }

            img.youtube-icon {
              width: 20%;
            }
          }
        }
      }
    }

    .logo-footer {
      text-align: center;
      padding-top: 30px;

      @media (min-width: 960px) {
        img.logo {
          width: 120px;
        }
      }

      @media (max-width: 960px) {
        img.logo {
          width: 120px;
        }
      }

      @media (max-width: 768px) {
        img.logo {
          width: 65px;
        }
      }

      @media (max-width: 540px) {
        img.logo {
          width: 65px;
        }
      }

      @media (max-width: 320px) {
        img.logo {
          width: 50px;
        }
      }
    }

    @media (min-width: 961px) {
      .footer-tab {
        width: 30vw;
        margin: 0 auto;

        .list-footer {
          display: flex;
          justify-content: space-between;
          list-style: none;
          padding-top: 30px;
          text-align: center;
          padding-inline-start: 0;
          margin-bottom: 0;

          li {
            a {
              text-decoration: none;
              color: white;
              position: relative;
              font-weight: 400;
              font-size: 18px;
              font-family: 'Roboto Condensed';
              transition: font-weight 0.4s ease 0s;

              &:hover {
                font-weight: 900;
                transition: font-weight 0.4s ease 0s;
              }
            }
          }
        }
      }
    }

    @media (max-width: 960px) {
      .footer-tab {
        width: 33vw;
        margin: 0 auto;

        .list-footer {
          display: flex;
          justify-content: space-between;
          list-style: none;
          padding-top: 30px;
          text-align: center;
          padding-inline-start: 0;
          margin-bottom: 0;

          li {
            a {
              text-decoration: none;
              color: white;
              position: relative;
              font-weight: 400;
              font-size: 18px;
              font-family: 'Roboto Condensed';
              transition: font-weight 0.4s ease 0s;

              &:hover {
                font-weight: 900;
                transition: font-weight 0.4s ease 0s;
              }
            }
          }
        }
      }
    }

    @media (max-width: 768px) {
      .footer-tab {
        width: 50vw;
        margin: 0 auto;

        .list-footer {
          display: flex;
          justify-content: space-between;
          list-style: none;
          padding-top: 30px;
          text-align: center;
          padding-inline-start: 0;
          margin-bottom: 0;

          li {
            a {
              text-decoration: none;
              color: white;
              position: relative;
              font-weight: 400;
              font-size: 18px;
              font-family: 'Roboto Condensed';
              transition: font-weight 0.4s ease 0s;

              &:hover {
                font-weight: 900;
                transition: font-weight 0.4s ease 0s;
              }
            }
          }
        }
      }
    }

    @media (max-width: 540px) {
      .footer-tab {
        width: 86vw;
        margin: 0 auto;

        .list-footer {
          display: flex;
          justify-content: space-between;
          list-style: none;
          padding-top: 30px;
          text-align: center;
          padding-inline-start: 0;
          margin-bottom: 0;

          li {
            a {
              text-decoration: none;
              color: white;
              position: relative;
              font-weight: 400;
              font-size: 16px;
              font-family: 'Roboto Condensed';
              transition: font-weight 0.4s ease 0s;

              &:hover {
                font-weight: 900;
                transition: font-weight 0.4s ease 0s;
              }
            }
          }
        }
      }
    }

    @media (max-width: 320px) {
      .footer-tab {
        width: 86vw;
        margin: 0 auto;

        .list-footer {
          display: flex;
          justify-content: space-between;
          list-style: none;
          padding-top: 30px;
          text-align: center;
          padding-inline-start: 0;
          margin-bottom: 0;

          li {
            a {
              text-decoration: none;
              color: white;
              position: relative;
              font-weight: 400;
              font-size: 16px;
              font-family: 'Roboto Condensed';
              transition: font-weight 0.4s ease 0s;

              &:hover {
                font-weight: 900;
                transition: font-weight 0.4s ease 0s;
              }
            }
          }
        }
      }
    }

    .copyright {
      text-align: center;
      padding-top: 30px;
      font-size: 12px;
    }

    @media (min-width: 1026px) {
      .mentions-legales-label {
        width: 11vw;
        margin: 0 auto;
        margin-top: 30px;

        .mentions-legales {
          display: flex;
          justify-content: space-between;
          list-style: none;
          text-align: center;
          // padding-inline-start: 0;

          a {
            color: white;
            font-family: 'Roboto Condensed';
            // padding-top: 30px;
            font-size: 12px;
            text-decoration: none;
            transition: font-weight 0.4s ease 0s;

            &:hover {
              font-weight: bold;
              transition: font-weight 0.4s ease 0s;
            }
          }
        }
      }
    }

    @media (max-width: 1025px) {
      .mentions-legales-label {
        width: 13vw;
        margin: 0 auto;
        margin-top: 30px;

        .mentions-legales {
          display: flex;
          justify-content: space-between;
          list-style: none;
          text-align: center;
          // padding-inline-start: 0;

          a {
            color: white;
            font-family: 'Roboto Condensed';
            // padding-top: 30px;
            font-size: 12px;
            text-decoration: none;
            transition: font-weight 0.4s ease 0s;

            &:hover {
              font-weight: bold;
              transition: font-weight 0.4s ease 0s;
            }
          }
        }
      }
    }

    @media (max-width: 768px) {
      .mentions-legales-label {
        width: 19vw;
        margin: 0 auto;
        margin-top: 30px;

        .mentions-legales {
          display: flex;
          justify-content: space-between;
          list-style: none;
          text-align: center;
          // padding-inline-start: 0;

          a {
            color: white;
            font-family: 'Roboto Condensed';
            // padding-top: 30px;
            font-size: 12px;
            text-decoration: none;
            transition: font-weight 0.4s ease 0s;

            &:hover {
              font-weight: bold;
              transition: font-weight 0.4s ease 0s;
            }
          }
        }
      }
    }

    @media (max-width: 540px) {
      .mentions-legales-label {
        width: 40vw;
        margin: 0 auto;
        margin-top: 30px;

        .mentions-legales {
          display: flex;
          justify-content: space-between;
          list-style: none;
          text-align: center;
          // padding-inline-start: 0;

          a {
            color: white;
            font-family: 'Roboto Condensed';
            // padding-top: 30px;
            font-size: 12px;
            text-decoration: none;
            transition: font-weight 0.4s ease 0s;

            &:hover {
              font-weight: bold;
              transition: font-weight 0.4s ease 0s;
            }
          }
        }
      }
    }
  }
}

