footer.home {
  padding: 50px 0;
  background-color: #0A0E12;

  #container-footer {
    max-width: 85vw;
    margin: 0 auto;

    @media (max-width: 321px) {
      .trapezoid-blue-title {
        width: 0;
        height: 63px;
        border-top: 18px solid transparent;
        border-right: 274px solid #54BCB6;
        border-left: 0px solid transparent;
        border-bottom: 0px solid transparent;

        h1 {
          position: relative;
          left: 5px;
          white-space: nowrap;
          font-size: 34px;
          font-weight: bold;
        }
      }
    }

    @media (min-width: 322px) {
      .trapezoid-blue-title {
        width: 0;
        height: 70px;
        border-top: 18px solid transparent;
        border-right: 320px solid #54BCB6;
        border-left: 0px solid transparent;
        border-bottom: 0px solid transparent;

        h1 {
          position: relative;
          left: 5px;
          white-space: nowrap;
          font-size: 40px;
          font-weight: bold;
        }
      }
    }

    @media (max-width: 321px) {
      .trapezoid-orange-title {
        position: relative;
        top: -10px;
        left: 173px;
        width: 0;
        height: 49px;
        border-top: 14px solid transparent;
        border-right: 82px solid #EC6B1B;
        border-left: 0px solid transparent;
        border-bottom: 0px solid transparent;

        h1 {
          position: relative;
          top: -7px;
          left: 8px;
          white-space: nowrap;
          font-size: 34px;
          font-weight: bold;
        }

        img.arrow {
          width: 50px;
          opacity: 1;
          transform: rotate(-101deg);
          position: relative;
          left: 70px;
          top: -5px;
        }
      }
    }

    @media (min-width: 322px) {
      .trapezoid-orange-title {
        position: relative;
        top: -10px;
        left: 173px;
        width: 0;
        height: 49px;
        border-top: 14px solid transparent;
        border-right: 92px solid #EC6B1B;
        border-left: 0px solid transparent;
        border-bottom: 0px solid transparent;

        h1 {
          position: relative;
          top: -7px;
          left: 8px;
          white-space: nowrap;
          font-size: 40px;
          font-weight: bold;
        }

        img.arrow {
          width: 60px;
          opacity: 1;
          transform: rotate(-115deg);
          position: relative;
          left: 81px;
          top: -27px;
        }
      }
    }

    .instagram-follow {
      .img-footer {
        margin: 0 auto;
        width: 70vw;
        text-align: center;

        img.img-will {
          width: 70vw;
          margin-top: 5vh;
        }

        .trapezoid-btn-follow {
          margin-top: 30px;
          text-align: right;
          height: 30px;
          border-top: 8px solid transparent;
          border-right: 106px solid #EC6B1B;
          border-left: 0px solid transparent;
          border-bottom: 0px solid transparent;

          a.more-about {
            position: relative;
            left: 93px;
            color: white;
            text-decoration: none;
            font-weight: bold;
            white-space: nowrap;
            outline: none;
          }
        }
      }
    }

    .social-list {
      ul {
        list-style: none;
        text-align: center;
        padding-top: 30px;
        padding-inline-start: 0;
        margin-bottom: 0;

        li {
          display: inline;

          @media (min-width: 960px) {
            img.social-icon {
              width: 7%;
            }
          }

          @media (max-width: 960px) {
            img.social-icon {
              width: 14%;
            }
          }

          @media (max-width: 768px) {
            img.social-icon {
              width: 15%;
            }
          }

          @media (max-width: 540px) {
            img.social-icon {
              width: 16%;
            }
          }

          @media (max-width: 320px) {
            img.social-icon {
              width: 17%;
            }
          }
        }
      }
    }

    .logo-footer {
      text-align: center;
      padding-top: 30px;

      @media (min-width: 960px) {
        img.logo {
          width: 120px;
        }
      }

      @media (max-width: 960px) {
        img.logo {
          width: 120px;
        }
      }

      @media (max-width: 760px) {
        img.logo {
          width: 65px;
        }
      }

      @media (max-width: 540px) {
        img.logo {
          width: 65px;
        }
      }

      @media (max-width: 320px) {
        img.logo {
          width: 50px;
        }
      }
    }

    .footer-tab {
      width: 50vw;
      margin: 0 auto;

      .list-footer {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        padding-top: 30px;
        text-align: center;
        padding-inline-start: 0;
        margin-bottom: 0;

        li {
          a {
            text-decoration: none;
            color: white;
            position: relative;
            font-size: 18px;
            font-weight: 400;
            font-family: 'Roboto Condensed';
            transition: font-weight 0.4s ease 0s;

            &:hover {
              font-weight: 900;
              transition: font-weight 0.4s ease 0s;
            }
          }
        }
      }
    }

    .copyright {
      text-align: center;
      padding-top: 30px;
      font-size: 12px;
    }
  }
}




// ###########################################   FOOTER  OTHERS  PAGES   ##################################################




footer {
  padding: 50px 0;
  // background-color: #0A0E12;

  #container-footer {
    max-width: 85vw;
    margin: 0 auto;

    @media (max-width: 321px) {
      .trapezoid-blue-title {
        width: 0;
        height: 63px;
        border-top: 18px solid transparent;
        border-right: 274px solid #54BCB6;
        border-left: 0px solid transparent;
        border-bottom: 0px solid transparent;

        h1 {
          position: relative;
          left: 5px;
          white-space: nowrap;
          font-size: 34px;
          font-weight: bold;
        }
      }
    }

    @media (min-width: 322px) {
      .trapezoid-blue-title {
        width: 0;
        height: 70px;
        border-top: 18px solid transparent;
        border-right: 320px solid #54BCB6;
        border-left: 0px solid transparent;
        border-bottom: 0px solid transparent;

        h1 {
          position: relative;
          left: 5px;
          white-space: nowrap;
          font-size: 40px;
          font-weight: bold;
        }
      }
    }

    @media (max-width: 321px) {
      .trapezoid-orange-title {
        position: relative;
        top: -10px;
        left: 173px;
        width: 0;
        height: 49px;
        border-top: 14px solid transparent;
        border-right: 82px solid #EC6B1B;
        border-left: 0px solid transparent;
        border-bottom: 0px solid transparent;

        h1 {
          position: relative;
          top: -7px;
          left: 8px;
          white-space: nowrap;
          font-size: 34px;
          font-weight: bold;
        }

        img.arrow {
          width: 50px;
          opacity: 1;
          transform: rotate(-101deg);
          position: relative;
          left: 70px;
          top: -5px;
        }
      }
    }

    @media (min-width: 322px) {
      .trapezoid-orange-title {
        position: relative;
        top: -10px;
        left: 173px;
        width: 0;
        height: 49px;
        border-top: 14px solid transparent;
        border-right: 92px solid #EC6B1B;
        border-left: 0px solid transparent;
        border-bottom: 0px solid transparent;

        h1 {
          position: relative;
          top: -7px;
          left: 8px;
          white-space: nowrap;
          font-size: 40px;
          font-weight: bold;
        }

        img.arrow {
          width: 60px;
          opacity: 1;
          transform: rotate(-115deg);
          position: relative;
          left: 81px;
          top: -27px;
        }
      }
    }

    .instagram-follow {
      .img-footer {
        margin: 0 auto;
        width: 70vw;

        img.img-will {
          width: 70vw;
          margin-top: 5vh;
        }

        .trapezoid-btn-follow {
          margin-top: 30px;
          text-align: right;
          height: 30px;
          border-top: 8px solid transparent;
          border-right: 106px solid #EC6B1B;
          border-left: 0px solid transparent;
          border-bottom: 0px solid transparent;

          a.more-about {
            position: relative;
            left: 93px;
            color: white;
            text-decoration: none;
            font-weight: bold;
            white-space: nowrap;
            outline: none;
          }
        }
      }
    }

    .social-list {
      ul {
        list-style: none;
        text-align: center;
        padding-top: 30px;
        padding-inline-start: 0;
        margin-bottom: 0;

        li {
          display: inline;

          @media (min-width: 960px) {
            img.social-icon {
              width: 7%;
            }
          }

          @media (max-width: 960px) {
            img.social-icon {
              width: 14%;
            }
          }

          @media (max-width: 768px) {
            img.social-icon {
              width: 15%;
            }
          }

          @media (max-width: 540px) {
            img.social-icon {
              width: 16%;
            }
          }

          @media (max-width: 320px) {
            img.social-icon {
              width: 17%;
            }
          }
        }
      }
    }

    .logo-footer {
      text-align: center;
      padding-top: 30px;

      @media (min-width: 960px) {
        img.logo {
          width: 120px;
        }
      }

      @media (max-width: 960px) {
        img.logo {
          width: 120px;
        }
      }

      @media (max-width: 760px) {
        img.logo {
          width: 65px;
        }
      }

      @media (max-width: 540px) {
        img.logo {
          width: 65px;
        }
      }

      @media (max-width: 320px) {
        img.logo {
          width: 50px;
        }
      }
    }

    .footer-tab {
      width: 50vw;
      margin: 0 auto;

      .list-footer {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        padding-top: 30px;
        text-align: center;
        padding-inline-start: 0;
        margin-bottom: 0;

        li {
          a {
            text-decoration: none;
            color: white;
            position: relative;
            font-weight: 400;
            font-size: 18px;
            font-family: 'Roboto Condensed';
            transition: font-weight 0.4s ease 0s;

            &:hover {
              font-weight: 900;
              transition: font-weight 0.4s ease 0s;
            }
          }
        }
      }
    }

    .copyright {
      text-align: center;
      padding-top: 30px;
      font-size: 12px;
      font-weight: 400;
      font-family: 'Roboto Condensed';
    }
  }
}

