header {
  background-image: linear-gradient(rgba(0,0,0,0.2)), image_url('header.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: none;
  height: 90vh;

  .img-will {
    height: 100%;
    width: 100%;
    text-align: center;

    img.img-will-header {
      width: 70%;
      position: relative;
      top: 19vh;
    }
  }
}
