@media (min-width: 1031px) {
  header {
    background-image: linear-gradient(rgba(0,0,0,0.2)), image_url('header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: none;
    height: 110vh;

    .img-will {
      display: flex;
      align-items: flex-end;
      height: 110vh;
      width: 100%;
      margin: 0 auto;

      img.img-will-header {
        width: 50%;
        margin: 0 auto;
        // position: relative;
        // bottom: 0;
      }

      img.img-will-header-gif {
        width: 55%;
        margin: 0 auto;
        position: absolute;
        // bottom: 0;
        left: 23%;
      }
    }
  }
}

@media (max-width: 1030px) {
  header {
    background-image: linear-gradient(rgba(0,0,0,0.2)), image_url('header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: none;
    height: 67vh;

    .img-will {
      display: flex;
      align-items: flex-end;
      height: 67vh;
      width: 100%;

      img.img-will-header {
        width: 72%;
        margin: 0 auto;
        // position: relative;
        // bottom: 0;
      }

      img.img-will-header-gif {
        width: 79%;
        margin: 0 auto;
        position: absolute;
        // bottom: 0;
        left: 12%;
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    background-image: linear-gradient(rgba(0,0,0,0.2)), image_url('header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: none;
    height: 70vh;

    .img-will {
      display: flex;
      align-items: flex-end;
      height: 70vh;
      width: 100%;

      img.img-will-header {
        width: 72%;
        margin: 0 auto;
        // position: relative;
        // bottom: 0;
      }

      img.img-will-header-gif {
        width: 79%;
        margin: 0 auto;
        position: absolute;
        // bottom: 0;
        left: 11%;
      }
    }
  }
}

@media (max-width: 540px) {
  header {
    background-image: linear-gradient(rgba(0,0,0,0.2)), image_url('header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: none;
    height: 66vh;

    .img-will {
      display: flex;
      align-items: flex-end;
      height: 66vh;
      width: 100%;

      img.img-will-header {
        width: 87%;
        margin: 0 auto;
        // position: relative;
        // bottom: 0;
      }

      img.img-will-header-gif {
        width: 94%;
        margin: 0 auto;
        position: absolute;
        // bottom: 0;
        left: 4%;
      }
    }
  }
}

@media (max-width: 320px) {
  header {
    background-image: linear-gradient(rgba(0,0,0,0.2)), image_url('header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: none;
    height: 67vh;

    .img-will {
      display: flex;
      align-items: flex-end;
      height: 67vh;
      width: 100%;

      img.img-will-header {
        width: 87%;
        margin: 0 auto;
        // position: relative;
        // bottom: 0;
      }

      img.img-will-header-gif {
        width: 96%;
        margin: 0 auto;
        position: absolute;
        // bottom: 0;
        left: 3%;
      }
    }
  }
}


  // .trapezoid-blue {
  //   position: absolute;
  //   top: -40vh;
  //   left: 14vw;
  //   width: 0;
  //   height: 59px;
  //   border-top: 18px solid transparent;
  //   border-right: 215px solid #54BCB6;
  //   border-left: 0px solid transparent;
  //   border-bottom: 0px solid transparent;

  //   h1 {
  //     position: relative;
  //     top: -8px;
  //     left: 26px;
  //     white-space: nowrap;
  //     font-size: 34px;
  //     font-weight: bold;
  //   }
  // }

  // .trapezoid-orange {
  //   position: absolute;
  //   top: -41vh;
  //   left: 75vw;
  //   width: 0;
  //   height: 48px;
  //   border-top: 14px solid transparent;
  //   border-right: 128px solid #EC6B1B;
  //   border-left: 0px solid transparent;
  //   border-bottom: 0px solid transparent;

  //   h1 {
  //     position: relative;
  //     top: -9px;
  //     left: 8px;
  //     white-space: nowrap;
  //     font-size: 34px;
  //     font-weight: bold;
  //   }
  // }
