.promo-home {
  .modal-content {
    background-color: #0A0E12;
    border-radius: 2%;

    .modal-header {
      text-align: center;
      border-bottom: 0;
      position: absolute;
      width: 100%;

      button.close {
        opacity: 1;
        outline: none;

        img {
          width: 28px;
        }
      }
    }

    img.promo {
      width: 100%;
      border-radius: 2%;
    }
  }
}
