#section-video-presentation {
  background-color : #0A0E12;
  // padding: 50px 0;

  @media (min-width: 541px) {
    .container-video-presentation {
      padding: 50px 0 0 0;
      text-align: center;

      iframe#frame-presentation {
        width: 500px;
        height: 350px;
        border-radius: 2%;
      }
    }
  }

  @media (max-width: 540px) {
    .container-video-presentation {
      padding: 50px 0 0 0;
      text-align: center;

      iframe#frame-presentation {
        width: 320px;
        height: 200px;
        border-radius: 2%;
      }
    }
  }

  @media (max-width: 320px) {
    .container-video-presentation {
      padding: 50px 0 0 0;
      text-align: center;

      iframe#frame-presentation {
        width: 270px;
        height: 180px;
        border-radius: 2%;
      }
    }
  }
}
