#section-formations {
  background-color : #0A0E12;
  padding: 100px 0;

  .container-formations {
    max-width: 85vw;
    margin: 0 auto;

    .trapezoids-title {
      padding-bottom: 50px;

      .trapezoid-blue {
        margin: 0 auto;
        width: 0;
        height: 70px;
        border-top: 18px solid transparent;
        border-right: 304px solid #54BCB6;
        border-left: 0px solid transparent;
        border-bottom: 0px solid transparent;

        h1 {
          position: relative;
          left: 27px;
          white-space: nowrap;
          font-size: 40px;
          font-weight: bold;
        }
      }
    }

    h2 {
      text-align: center;
    }

    .trapezoids-link {
      padding-top: 50px;

      .trapezoid-orange {
        margin: 0 auto;
        width: 0;
        height: 40px;
        border-top: 8px solid transparent;
        border-right: 331px solid #EC6B1B;
        border-left: 0px solid transparent;
        border-bottom: 0px solid transparent;

        a.formation-path {
          position: relative;
          top: 4px;
          left: 13px;
          color: white;
          text-decoration: none;
          font-weight: bold;
          white-space: nowrap;
        }
      }
    }

    .card {
      background-color: transparent;
      text-align: center;

      .img-formation {
        img.formation-img {
          width: 70%;
        }
      }

      .description-formation {
        margin: 0 auto;
        padding-top: 15px;
        width: 60%;

        h2 {
          color: white;
          text-align: left;
          margin-bottom: 0;
          font-weight: bold;
          font-size: 20px;
        }

        p {
          color: white;
          text-align: left;
        }
      }
    }

    .carousel-control-next {
      background-color: #0A0E12;
      opacity: 1;
      width: 5vw;
      margin-right: -1px;
    }

    .carousel-control-prev {
      background-color: #0A0E12;
      opacity: 1;
      width: 5vw;
      margin-left: -1px;
    }

    @media (min-width: 320px) {
      .carousel-control-next {
        background-color: #0A0E12;
        opacity: 1;
        width: 12vw;
        margin-right: -1px;
      }

        .carousel-control-prev {
        background-color: #0A0E12;
        opacity: 1;
        width: 12vw;
        margin-left: -1px;
      }
    }

    @media (min-width: 768px) {
      .carousel-control-next {
        background-color: #0A0E12;
        opacity: 1;
        width: 8vw;
        margin-right: -1px;
      }

        .carousel-control-prev {
        background-color: #0A0E12;
        opacity: 1;
        width: 8vw;
        margin-left: -1px;
      }
    }

    @media (min-width: 960px) {
      .carousel-control-next {
        background-color: #0A0E12;
        opacity: 1;
        width: 4vw;
        margin-right: -1px;
      }

        .carousel-control-prev {
        background-color: #0A0E12;
        opacity: 1;
        width: 4vw;
        margin-left: -1px;
      }
    }

    img.carousel-control {
      width: 90%;
    }


    @media (min-width: 320px) {
      .carousel-inner .carousel-item-right.active,
      .carousel-inner .carousel-item-next {
          transform: translateX(90%);
      }

      .carousel-inner .carousel-item-left.active,
      .carousel-inner .carousel-item-prev {
          transform: translateX(-90%);
      }
    }

    @media (min-width: 540px) {
      .carousel-inner .carousel-item-right.active,
      .carousel-inner .carousel-item-next {
          transform: translateX(80%);
      }

      .carousel-inner .carousel-item-left.active,
      .carousel-inner .carousel-item-prev {
          transform: translateX(-80%);
      }
    }

    @media (min-width: 768px) {
      .carousel-inner .carousel-item-right.active,
      .carousel-inner .carousel-item-next {
          transform: translateX(50%);
      }

      .carousel-inner .carousel-item-left.active,
      .carousel-inner .carousel-item-prev {
          transform: translateX(-50%);
      }
    }

    /* large - display 3 */
    @media (min-width: 960px) {
      .carousel-inner .carousel-item-right.active,
      .carousel-inner .carousel-item-next {
          transform: translateX(33%);
      }

      .carousel-inner .carousel-item-left.active,
      .carousel-inner .carousel-item-prev {
          transform: translateX(-33%);
      }
    }

    @media (max-width: 740px) {
      .carousel-inner .carousel-item>div {
          display: none;
      }

      .carousel-inner .carousel-item>div:first-child {
          display: block;
      }
    }

    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      display: flex;
    }

    .carousel-inner .carousel-item-right,
    .carousel-inner .carousel-item-left {
      transform: translateX(0);
    }
  }
}

