#section-yt {
  background-color : #54BCB6;
  padding: 25px 0;

  .container-yt {
    max-width: 80vw;
    margin: 0 auto;

    .yt {
      margin: 0 auto;

      @media (min-width: 769px) {
        .title-yt {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;

          h2 {
            font-weight: bold;
            font-size: 40px;

            span.thin {
              font-weight: 300;
              color: black;
            }
          }
        }

        .img-yt {
          text-align: center;
          // margin-top: 20px;

          img.img-logo-yt {
            width: 60%;
          }
        }
      }

      @media (max-width: 768px) {
        .title-yt {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;

          h2 {
            font-weight: bold;
            font-size: 34px;

            span.thin {
              font-weight: 300;
              color: black;
            }
          }
        }

        .img-yt {
          text-align: center;
          margin-top: 20px;

          img.img-logo-yt {
            width: 60%;
          }
        }
      }
    }
  }
}
