#section-yt {
  background-color : #0a0e12;
  // padding: 0 0 50px 0;

  .container-yt {
    max-width: 80vw;
    margin: 0 auto;

    .yt {
      margin: 0 auto;

      @media (min-width: 1025px) {
        .title-yt {
          position: relative;
          top: 35px;

          h2 {
            font-weight: bold;
            font-size: 40px;

            span.thin {
              font-weight: 300;
              color: white;
            }
          }
        }

        .img-yt {
          text-align: center;
          // margin-top: 20px;

          img.img-logo-yt {
            position: relative;
            top: -65px;
            width: 90%;
          }
        }

        .trapezoid-red {
          position: relative;
          // top: 24px;
          width: 0;
          height: 30px;
          border-top: 8px solid transparent;
          border-right: 106px solid #FF0202;
          border-left: 0px solid transparent;
          border-bottom: 0px solid transparent;

          a.subscribe {
            position: relative;
            left: 7px;
            color: white;
            text-decoration: none;
            font-weight: bold;
            white-space: nowrap;
            outline: none;
          }
        }

        img.arrow {
          width: 63px;
          position: relative;
          left: 121px;
          top: -37px;
          transform: rotate(-30deg);
        }
      }

      @media (max-width: 1024px) {
        .title-yt {
          position: relative;
          top: 15px;

          h2 {
            font-weight: bold;
            font-size: 30px;

            span.thin {
              font-weight: 300;
              color: white;
            }
          }
        }

        .img-yt {
          text-align: center;
          // margin-top: 20px;

          img.img-logo-yt {
            position: relative;
            top: -65px;
            width: 100%;
          }
        }

        .trapezoid-red {
          position: relative;
          // top: 24px;
          width: 0;
          height: 30px;
          border-top: 8px solid transparent;
          border-right: 106px solid #FF0202;
          border-left: 0px solid transparent;
          border-bottom: 0px solid transparent;

          a.subscribe {
            position: relative;
            left: 7px;
            color: white;
            text-decoration: none;
            font-weight: bold;
            white-space: nowrap;
            outline: none;
          }
        }

        img.arrow {
          width: 63px;
          position: relative;
          left: 121px;
          top: -37px;
          transform: rotate(-30deg);
        }
      }

      @media (max-width: 768px) {
        .title-yt {
          text-align: center;
          display: block;

          h2 {
            font-weight: bold;
            font-size: 34px;

            span.thin {
              font-weight: 300;
              color: white;
            }
          }
        }

        .img-yt {
          text-align: center;
          margin-top: 130px;

          img.img-logo-yt {
            width: 100%;
          }
        }

        .trapezoid-red {
          position: relative;
          top: 19px;
          right: 0;
          width: 0;
          height: 30px;
          border-top: 8px solid transparent;
          border-right: 106px solid #FF0202;
          border-left: 0px solid transparent;
          border-bottom: 0px solid transparent;
          margin: 0 auto;

          a.subscribe {
            position: relative;
            left: 7px;
            color: white;
            text-decoration: none;
            font-weight: bold;
            white-space: nowrap;
            outline: none;
          }
        }

        img.arrow {
          width: 63px;
          position: relative;
          left: 121px;
          top: -37px;
          transform: rotate(-30deg);
        }
      }

      @media (max-width: 320px) {
        .title-yt {
          text-align: center;
          display: block;

          h2 {
            font-weight: bold;
            font-size: 34px;

            span.thin {
              font-weight: 300;
              color: white;
            }
          }
        }

        .img-yt {
          text-align: center;
          margin-top: 130px;

          img.img-logo-yt {
            width: 100%;
          }
        }

        .trapezoid-red {
          position: relative;
          margin: 0 auto;
          top: 19px;
          left: 0;
          width: 0;
          height: 30px;
          border-top: 8px solid transparent;
          border-right: 106px solid #FF0202;
          border-left: 0px solid transparent;
          border-bottom: 0px solid transparent;

          a.subscribe {
            position: relative;
            left: 7px;
            color: white;
            text-decoration: none;
            font-weight: bold;
            white-space: nowrap;
            outline: none;
          }
        }

        img.arrow {
          width: 63px;
          position: relative;
          left: 121px;
          top: -37px;
          transform: rotate(-30deg);
        }
      }
    }
  }
}
