#section-citation {
  padding: 50px 0;
  background-image: linear-gradient(rgba(0,0,0,0.2)), image_url('citation.png');
  background-position: center;
  background-repeat: none;
  background-attachment: fixed;
  background-size: cover;

  .container-citation {
    max-width: 85vw;
    margin: 0 auto;

    @media (min-width: 768px) {
      .citation {
        text-align: center;

        img.guillemets {
          width: 77px;
        }

        p {
          font-size: 36px;
          font-weight: 300;
          // line-height: 22px;
        }

        h2 {
          font-size: 35px;
          font-weight: bold;
          margin-top: 60px;
        }
      }
    }

    @media (max-width: 540px) {
      .citation {
        text-align: center;

        img.guillemets {
          width: 59px;
        }

        p {
          font-size: 28px;
          font-weight: 300;
          // line-height: 22px;
        }

        h2 {
          font-size: 30px;
          font-weight: bold;
          margin-top: 60px;
        }
      }
    }

    @media (max-width: 320px) {
      .citation {
        text-align: center;

        img.guillemets {
          width: 50px;
        }

        p {
          font-size: 24px;
          font-weight: 300;
          // line-height: 22px;
        }

        h2 {
          font-size: 30px;
          font-weight: bold;
          margin-top: 60px;
        }
      }
    }
  }
}
